@import helpers
@import base/index
@import lib/index
@import components/index
@import containers/index

body
  color: $red
  line-height: 1.4
  +reg
  width: 100%
  // position: static!important

  &.is-overflowed, &.is-overflowed-menu
    height: 100%
    overflow: hidden
    position: fixed
    width: 100%
  &.is-ios-fixed
    width: 100%
    // height: 100%
    // touch-action: none
    // -webkit-overflow-scrolling: none
    overflow: hidden

.out
  padding-top: 120px
  &_padding-none
    padding-top: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal

a
  color: currentColor
  text-decoration: none

button
  background-color: transparent

.back-btn-wrapper
  display: flex
  justify-content: flex-end

.line
  background-color: $red
  height: 100%
  position: fixed
  right: 0
  top: 0
  width: 45px

  +lg
    width: 38px

  +md
    width: 29px

  +sm
    display: none

.link
  display: inline-block
  text-decoration: underline

.line-link
  position: relative
  display: inline-block
  vertical-align: top
  font-size: 12px
  line-height: 1.5
  +reg-mono
  letter-spacing: 0.1em
  text-transform: uppercase
  // border-bottom: 1px solid $white
  &:after
    content: ''
    display: block
    position: absolute
    left: 0
    right: 0
    bottom: 0
    background: $white
    height: 1px
    transform-origin: 50% 50%
    transition: transform $ease
    transform: scaleX(0)
    will-change: transform
  +hover
    &::after
      transform: scaleX(1)

.clipboard-link, .print-link
  display: inline-flex
  align-items: center
  font-size: 12px
  appearance: none
  background: none
  border: none
  letter-spacing: 0.2px
  color: $red
  +reg

  span
    display: inline-block
    margin-right: 11px

  svg
    font-size: 20px
    fill: currentColor

.clipboard-link

.print-link

.scroll-top-wrapper
  display: flex
  justify-content: center
  .scroll-to

    +sm
      margin-right: 13px
.out
  section
    padding: 100px 0
    +lg
      padding: 75px 0
    +sm
      padding: 50px 0
    // padding: 50px 0

    // &:first-of-type
    //   padding-top: 100px

    // &:last-of-type
    //   padding-bottom: 100px
    &.space-top-none
      padding-top: 0
      +lg
        padding-top: 0
      +sm
        padding-top: 0
.block
  height: 50px
  background: red

.soc-list
  li
    font-size: 0
  svg
    width: 32px
    height: 32px
    fill: $red
    transition: fill $ease
  &_header
    li
      &:not(:last-of-type)
        margin-bottom: 16px
      +invert
        svg
          fill: $white
    a
      display: block
      +hover
        svg
          fill: $milanoRed
  &_footer
    ul
      display: flex
      align-items: center
      justify-content: center
    li
      &:not(:last-of-type)
        margin-right: 20px
.back-section
  &--gray
    background: rgba($grey, 0.3)

.m-container
  margin: 0 auto
  // max-width: 1558px // 1420 + 64 * 2 + 10px
  max-width: 1810px // 1536 + 132 * 2 + 10px
  padding: 0 132px
  +xx
    padding: 0 32px
    max-width: 1480px // 1406 + 32 * 2 + 10px

  +md
    padding: 0 24px

  +sm
    padding: 0 10px

::selection
    background-color: $milanoRed
    color: #fff
.cases-mob-modal
  display: none
.row
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  min-width: 100%

  +sm
    flex-wrap: wrap

  &_inner
    margin: 0 -5px

    +sm
      margin:  0 -3px

  .col
    flex-grow: 0
    padding: 0 5px

    +sm
      padding: 0 3px

  @for $i from 0 through $cols_pc
    .col-#{$i}
      width: 100%/$cols_pc*$i

    .col-push-#{$i}
      margin-left: 100%/$cols_pc*$i

    .col-grid-#{$i}
      +grid
        width: 100%/$cols_pc*$i
    .col-grid-push-#{$i}
      +grid
        margin-left: 100%/$cols_pc*$i

    .col-xl-#{$i}
      +xl
        width: 100%/$cols_pc*$i
    .col-xl-push-#{$i}
      +xl
        margin-left: 100%/$cols_pc*$i

    .col-lg-#{$i}
      +lg
        width: 100%/$cols_pc*$i
    .col-lg-push-#{$i}
      +lg
        margin-left: 100%/$cols_pc*$i

    .col-md-#{$i}
      +md
        width: 100%/$cols_pc*$i
    .col-md-push-#{$i}
      +md
        margin-left: 100%/$cols_pc*$i

  @for $i from 0 through $cols_pc_22
    .col-22-#{$i}
      width: 100%/$cols_pc_22*$i

    .col-22-push-#{$i}
      margin-left: 100%/$cols_pc_22*$i

    .col-22-xl-#{$i}
      +xl
        width: 100%/$cols_pc_22*$i
    .col-22-xl-push-#{$i}
      +xl
        margin-left: 100%/$cols_pc_22*$i

    .col-22-lg-#{$i}
      +lg
        width: 100%/$cols_pc_22*$i
    .col-22-lg-push-#{$i}
      +lg
        margin-left: 100%/$cols_pc_22*$i

    .col-22-md-#{$i}
      +md
        width: 100%/$cols_pc_22*$i
    .col-22-md-push-#{$i}
      +md
        margin-left: 100%/$cols_pc_22*$i

  @for $i from 0 through $cols_pc_20
    .col-20-#{$i}
      width: 100%/$cols_pc_20*$i

    .col-20-push-#{$i}
      margin-left: 100%/$cols_pc_20*$i

    .col-20-xl-#{$i}
      +xl
        width: 100%/$cols_pc_20*$i
    .col-20-xl-push-#{$i}
      +xl
        margin-left: 100%/$cols_pc_20*$i

    .col-20-lg-#{$i}
      +lg
        width: 100%/$cols_pc_20*$i
    .col-20-lg-push-#{$i}
      +lg
        margin-left: 100%/$cols_pc_20*$i

    .col-20-md-#{$i}
      +md
        width: 100%/$cols_pc_20*$i
    .col-20-md-push-#{$i}
      +md
        margin-left: 100%/$cols_pc_20*$i

  @for $i from 0 through $cols_mob
    .col-sm-#{$i}
      +sm
        width: 100%/$cols_mob*$i
    .col-sm-push-#{$i}
      +sm
        margin-left: 100%/$cols_mob*$i

  .col-0
    // +lgmin
    padding: 0

  .col-lg-0
    +lg
      padding: 0

  .col-md-0
    +md
      padding: 0

  .col-sm-0
    +sm
      padding: 0
