@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)

=grid
  +r($grid_size) //1810
    @content
=xxl
  +r($xxl) //1920
    @content
=xxlmin
  +rmin($xxl)
    @content
=xx
  +r($xx) //1680
    @content
=xl
  +r($xl) //1440
    @content
=lg
  +r($lg) //1260
    @content

=lgmin
  +rmin($lg)
    @content

=md
  +r($md) //960
    @content

=mdmin
  +rmin($md)
    @content

=sm
  +r($sm) //719
    @content

=smmin
  +rmin($sm) //719
    @content


=mobile-portrait
  @media only screen and (max-width: $sm+ "px") and (orientation: portrait)
    @content


=mobile-landscape
  @media only screen and (max-width: $md+ "px") and (orientation: landscape)
    @content

=laptop-sm-height
  +lgmin
    +rh($b-sm-height)
      @content
// @media only screen and (min-width: $lg + "px") and (max-height: $b-sm-height + "px")
    
=phone
  @media only screen and (max-width: 992px) and (max-height: 992px)
    @content
=not-phone
  @media only screen and (min-width: 768px) and (min-height: 768px)
    @content
=transition
  transition: transform $easing 0.3s

=reg
  font-family: 'ReplicaStd', 'sans-serif'
  font-weight: 400

=bold
  font-family: 'ReplicaStd-Bold', 'sans-serif'
  font-weight: 400

=reg-mono
  font-family: 'ReplicaMonoStd', 'sans-serif'
  font-weight: 400

