.icon-angle-top {
  width: 1.69em;
  height: 1em;
  fill: initial;
}
.icon-arrow-header-drop {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
.icon-arrow-simple-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-small-left {
  width: 2.13em;
  height: 1em;
  fill: initial;
}
.icon-arrow-small-vertical {
  width: 0.47em;
  height: 1em;
  fill: initial;
}
.icon-arrow-small {
  width: 2.13em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-clipboard {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-download-vertical {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linked-in {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-icon {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-logo-text {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-pause {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pdf {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-print {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-reset {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-scroll-to-top {
  width: 0.69em;
  height: 1em;
  fill: initial;
}
