{% for item in about %}
<!-- begin about -->
<section class="section about{% if item.textColor %} about_label about_text-color-{{ item.textColor }}{% endif %}" >
  <div class="m-container">
    <div class="row">
      <div class="col col-16 col-push-2 col-lg-20 col-md-22 col-md-push-1 col-sm-11 col-sm-push-1">
        {% set headline = {
          title: item.title,
          headline: item.headline,
          subheadline: item.subheadline
        } %}
        {% include './_headline.html' %}

        <div class="textual textual_size-xl about__textual">
          {% for paragraph in item.text %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        {% if item.buttons %}
        <div class="about__buttons">
          {% for btn in item.buttons %}
          <a href="#" class="btn about__btn">
            <span class="btn__in">
              <span class="btn__text">
                <span class="btn__icon btn__icon_left">
                  <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                </span>
                {{ btn }}
                <span class="btn__icon btn__icon_right">
                  <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                </span>
              </span>
            </span>
            <span class="btn__counter" title="3">3</span>
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <!-- <div class="col col-3 col-push-1">
        <div class="about__label">
          <div class="about__label-inner">
            <div class="about__label-text">
              <div>
                <span>Aktuell</span>
                <span>3 freie</span>
                <span>Stellen</span>
              </div>

            </div>          
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- end about -->
{% endfor %}
