 <a href="#" class="btn-simple {% if button.mode %}{{ button.mode }}{% endif %}{% if button.count %} btn-simple_counter{% endif %}">
  <span class="btn-simple__inner">
    {% if button.svg %}
      <span class="btn-simple__svg">{{ mixins.icon(button.svg) }}</span>
    {% else %}
      <span class="btn-simple__svg">{{ mixins.icon('arrow-small') }}</span>
    {% endif %}
    <span class="btn-simple__text">
      {{ button.title }}
    </span>
  </span>
  {% if button.count %}
    <span class="btn-simple__counter" title="{{button.count}}">{{button.count}}</span>
  {% endif %}
</a>
