<a href="#" class="btn{% if button.color %} btn_{{ button.color }}{% endif %}">
  <span class="btn__in">
    <span class="btn__text">
      <span class="btn__icon btn__icon_left">
        <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
      </span>
      {{ button.title }}
      <span class="btn__icon btn__icon_right">
        <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
      </span>
    </span>
  </span>
</a>
