{% set data = {
  title: 'Aktuelle Projekte',
  headline: 'Überall <br/> im Einsatz'
} %}

{% set cases = [
  { 
    mode: '',
    img: 'img/cases/1.jpg',
    head: 'Case 01',
    brand: 'Krones',
    country: 'Honduras Honduras Honduras Honduras',
    text: 'Beheimatet wie wir in Bayern, Hersteller für Abfüllanlagen für die Getränkeindustrie und Nahrungsmittelhersteller, liefert in die ganze Welt — mit uns an der Seite. Spezielle, vorgefertigte Isoliertechnik wird mit der Anlage bei uns zusammengeführt und in Hamburg sicher für die Verschiffung gemacht. Im letzten Fall ging es ab nach Honduras: seegerecht in verschiedenen Größen verpackt. ',
    facts: [
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    },
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    },
    {
      count: '23',
      text: ' Monate Planung'
    }
    ]
  },
  { 
    mode: 'cases-block--white-text-overlay',
    img: 'img/cases/2.jpg',
    head: 'Case 02',
    brand: 'Krones',
    country: 'HondurasHonduras',
    text: 'Beheimatet wie wir in Bayern, Hersteller für Abfüllanlagen für die Getränkeindustrie ',
    facts: [
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    },
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    }
    ]
  },
  { 
    mode: '',
    img: 'img/cases/3.jpg',
    head: 'Case 03',
    brand: 'Krones',
    country: 'Honduras',
    text: 'Beheimatet wie wir in Bayern, Hersteller für Abfüllanlagen für die Getränkeindustrie und Nahrungsmittelhersteller, liefert in die ganze Welt — mit uns an der Seite. Spezielle, vorgefertigte Isoliertechnik wird mit der Anlage bei uns zusammengeführt und in Hamburg sicher für die Verschiffung gemacht. Im letzten Fall ging es ab nach Honduras: seegerecht in verschiedenen Größen verpackt. ',
    facts: [
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    },
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    },
    {
      count: '23',
      text: ' Monate Planung'
    }
    ]
  },
  { 
    mode: 'cases-block--white-text-overlay',
    img: 'img/cases/1.jpg',
    head: 'Case 04',
    brand: 'Krones',
    country: 'Honduras',
    text: 'Beheimatet wie wir in Bayern, Hersteller für Abfüllanlagen für die Getränkeindustrie und Nahrungsmittelhersteller, liefert in die ganze Welt — mit uns an der Seite. Spezielle, vorgefertigte Isoliertechnik wird mit der Anlage bei uns zusammengeführt und in Hamburg sicher für die Verschiffung gemacht. Im letzten Fall ging es ab nach Honduras: seegerecht in verschiedenen Größen verpackt. ',
    facts: [
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    },
    {
      count: '20.000',
      text: 'Kubikmeter Isolierkabel verbaut'
    },
    {
      count: '23',
      text: ' Monate Planung'
    }
    ]
  }

] %}
<div style="height: 50vh; background: greenyellow"></div>
<section class="section" data-aos="fade">
  <div class="cases">
    <div class="m-container">
      <div class="row">
        <div class="col col-20 col-push-2 col-md-22 col-md-push-1 col-sm-11 col-sm-push-1 cases__headline">
            {% set headline = {
              title: data.title,
              headline: data.headline,
              subheadline: data.subheadline,
              subHeadColor: 'light'
            } %}
            {% include './_headline.html' %}
        </div>
      </div>
    </div>
    <div class="swiper-container js-cases-slider">
      <!-- локально поставил data-img-loaded="true", на сервере должно быть false-->
      <div class="swiper-wrapper" data-img-loaded="true">
          {% for item in cases %}
          <div class="swiper-slide">
            <div class="cases-block {{item.mode}} js-cases-block">
              <div class="cases-block__inner">
                <div class="cases-block__img" style="background-image: url({{item.img}});">
                  </div>
                  <!-- <div class="cases-block__view-content">
                    <div class="textual textual_size-xs cases-block__head ">{{ item.head | safe }}</div>
                    <h5 class="title title_h5 cases-block__title">{{ item.title | safe }}</h5>
                  </div> -->
                  <div class="cases-block__btn-wrap">
                      <button class="controls controls_type-square cases-block__btn js-cases-block-btn">
                        {{ mixins.icon('plus') }}
                      </button>
                  </div>
                  <div class="cases-block__drop js-cases-block-drop-content">
                    <div class="cases-block__drop-wrapper">
                        <div class="cases-block__drop-head">
                          <div class="cases-block__drop-head-text">
                              <div class="textual textual_size-xs cases-block__head ">{{ item.head | safe }}</div>
                              <h5 class="title title_h5 cases-block__title">{{ item.brand | safe }}</h5>
                              <h5 class="title title_h5 cases-block__title">{{ item.country | safe }}</h5>
                          </div>
                            <button class="controls controls_type-square cases-block__btn js-cases-block-btn-close">
                              {{ mixins.icon('close') }}
                            </button>
                        </div>
                        <div class="cases-block__drop-inner">
                          <div class="cases-block__cols">
                            <div class="cases-block__col">
                              <p class="textual textual_size-xxs cases-block__col-title">Kurzinformation</p>
                              <div class="textual textual_size-xs cases-block__drop-text">
                                  {{ item.text | safe }}
                              </div> 
                            </div>
                            <div class="cases-block__col">
                                <p class="textual textual_size-xs cases-block__col-title">Fakten</p>
                                <div class="cases-block__facts-list">
                                    {% for fact in item.facts %}
                                      <div class="cases-block__fact">
                                        <p class="title title_h4">{{ fact.count }}</p>
                                        <div class="textual textual_size-xs cases-block__drop-text">
                                            {{ fact.text }}
                                        </div>
                                      </div>
                                    {% endfor %}  
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
          {% endfor %}           
      </div>
  </div>
    <div class="m-container">
      <div class="row">
        <div class="col-24 col-sm-12">
          <div class="pagination pagination_custom swiper-pagination cases__pagination js-cases-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="height: 50vh; background: greenyellow"></div>