<!-- begin column-text -->
<section class="section column-text">
  {% set headline = data.headline %}
{% include './_headline.html' %}
  <div class="m-container">
    <div class="row">

      <div class="col col-20 col-push-2  col-sm-11 col-sm-push-1">
      
        
          {% for item in data.boxes %}
          {% set step = loop.index  %}
          {% if loop.index % 3 == 1 %}
          <div class="row row_inner boxes column-text__boxes">
            {% for index in range(0, 3) %}
            {% set item = data.boxes[index + step - 1] %}
            {% if item %}
            <div class="col col-20-6 col-md-24 boxes__headline">
              <h5 class="title title_sm">{{ item.headline }}</h5>
            </div>
            {% else %}
            <div class="col col-20-push-{% if loop.length == 1 %}12{% else %}6{% endif %} col-md-0"></div>
            {% endif %}
            {% endfor %}

            {% for index in range(0, 3) %}
            {% set item = data.boxes[index + step - 1] %}
            {% if item %}
            <div class="col col-20-6 col-md-24 boxes__text textual textual_l">
              {{ item.text }}
            </div>
            {% else %}
            <div class="col col-20-push-{% if loop.length == 1 %}12{% else %}6{% endif %} col-md-0"></div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          {% endfor %}
        </div>

    </div>
  </div>
</section>
<!-- end column-text -->
