<!-- begin combo -->
<section class="section combo">
  {% set headline = data.headline %}
 {% include './_headline.html' %}
  <div class="m-container">
    <div class="row">
     <div class="col col-11 col-push-2 col-md-20 col-sm-11 col-sm-push-1 combo__text">
        <div class="textual textual_xl textual_space-sm combo__textual">
          {% for p in data.text %}
          <p>{{ p }}</p>
          {% endfor %}
        </div>
      </div>

      <div class="col col-8  col-md-20 col-sm-11 col-push-1 col-md-push-2 col-sm-push-1 combo__preview">
        <div class="combo__image">
          <img src="{{ data.image }}" alt="Image" />
        </div>
      </div>
     
    </div>
  </div>
</section>
<!-- end combo -->
