<section class="section">
  <div class="combo-text">
    <div class="m-container">
      <div class="row">
        <div class="col col-13 col-push-6 col-lg-16 col-lg-push-6 col-md-19 col-md-push-4 col-sm-11 col-sm-push-1">
          <div class="combo-text__inner">
            <div class="textual textual_std textual_std-xl ">
              <p>Was benötigen Sie, damit Ihre Baustelle reibungslos läuft? </p>
              <p>Es braucht jemanden, der die richtige Logistik anbieten kann. Es braucht Es braucht jemanden, der die richtige Logistik anbieten kann. Es braucht jemanden, der den Spezialisten im Haus hat, der bei technischen Problemen weiterhilft und die richtigen Produkte und Konstruktionen vorschlägt. Und es braucht jemanden, der die vielen Materialien fachgerecht aufeinander abgestimmt zusammenführt. Und genau dann liefert – wenn es auf der Baustelle verbaut werden muss.</p>
              <p><strong>All das sind wir: Ihr Fachhändler.</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-9 col-push-6 col-lg-12 col-lg-push-6 col-md-15 col-md-push-4 col-sm-11 col-sm-push-1">
          <div class="combo-text__list-wrapper">
            <div class="combo-text__head">
              <div class="textual textual_size-xs">Unsere Leistungen</div>
            </div>
            <div class="list">
              <ul>
                <li>Hochspezialisiertes Lagersortiment — <br/>Knauf, Siniat, Promat</li>
                <li>Gesamt überdachte Lagerflächen</li>
                <li>Trockenbauspezifischer Fuhrpark mit Verkranung</li>
                <li>Spezialisten für Trockenbau, Bauelemente und Brandschutz</li>
                <li>Warenabholung 24/7</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col col-16 col-push-6 col-md-16 col-md-push-4 col-sm-11 col-sm-push-1">
          <div class="combo-text__btns-wrapper">
           <a href="#" class="btn">
               <span class="btn__in">
                 <span class="btn__text">
                   <span class="btn__icon btn__icon_left">
                     <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                   </span>
                   Preisliste
                   <span class="btn__icon btn__icon_right">
                     <span class="btn__svg">
                       {{ mixins.icon('arrow-small') }}
                     </span>
                   </span>
                 </span>
               </span>
             </a>
             <a href="#" class="btn">
                 <span class="btn__in">
                   <span class="btn__text">
                     <span class="btn__icon btn__icon_left">
                       <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                     </span>
                     Beratung
                     <span class="btn__icon btn__icon_right">
                       <span class="btn__svg">
                         {{ mixins.icon('arrow-small') }}
                       </span>
                     </span>
                   </span>
                 </span>
               </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





