<section class="section combo2-section">
  <!-- BEGIN combo2 -->
<div class="combo2">
  <div class="m-container">
    <div class="row">
      <div class="col col-12 col-lg-15 col-sm-12 col-sm-push-0 combo2__item combo2__item_second">
        <div class="combo-block combo-block_lg">
          <div class="combo-block__inner">
            <div class="combo-block__img-wrap">
              <img src="img/combo2/1.jpg" alt=""/>
            </div>
            <div class="textual textual_sm textual_mono combo-block__text">
                Lorem ipsum dolor sit sed met constructs in dubio esse sunt lorem ipsum dolor sit sed met constructs in dubio esse sunt.
            </div>
          </div>
        </div>
      </div>
      <div class="col col-11 col-push-1 col-lg-14 col-lg-push-8 col-md-16 col-md-push-7 col-sm-12 col-sm-push-0 combo2__item combo2__item_first">
          <div class="combo-block  combo-block_l">
            <div class="combo-block__inner">
              <div class="combo-block__img-wrap">
                <img src="img/combo2/2.jpg" alt=""/>
              </div>
              <div class="textual textual_sm textual_mono combo-block__text">
                 Lorem ipsum dolor sit sed met constructs in dubio esse sunt lorem ipsum dolor sit sed met constructs in dubio esse sunt.
              </div>
            </div>
          </div>
      </div>
      <div class="col col-4 col-push-15 col-lg-6 col-lg-push-1 col-sm-12 col-sm-push-0 combo2__item combo2__item_third">
          <div class="combo-block combo-block_xs">
            <div class="combo-block__inner">
              <div class="combo-block__img-wrap">
                <img src="img/combo2/3.jpg" alt=""/>
              </div>
              <div class="textual textual_sm textual_mono combo-block__text">
                  Lorem ipsum dolor sit amet, sed diam nonumy 
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- END combo2 -->
</section>