<section class="section combo1-section">
  <!-- BEGIN combo1 -->
<div class="combo1">
  <div class="m-container">
    <div class="row">
      <div class="col col-12 col-push-3 col-lg-13 col-lg-push-3 col-md-15 col-md-push-1 col-sm-12 col-sm-push-0 combo1__item combo1__item_first">
          <div class="combo-block  combo-block_lg">
            <div class="combo-block__inner">
              <div class="combo-block__img-wrap">
                <img src="img/combo1/2.jpg" alt=""/>
              </div>
              <div class="textual textual_sm textual_mono combo-block__text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
              </div>
            </div>
          </div>
      </div>
      <div class="col col-5 col-push-1 col-lg-5 col-lg-push-1 col-sm-12 col-sm-push-0 combo1__item combo1__item_second">
        <div class="combo-block combo-block_xs">
          <div class="combo-block__inner">
            <div class="combo-block__img-wrap">
              <img src="img/combo1/1.jpg" alt=""/>
            </div>
            <div class="textual textual_sm textual_mono combo-block__text">
              Lorem ipsum dolor sit amet, sed diam nonumy 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END combo1 -->
</section>

<section class="section">
    <!-- BEGIN combo1 -->
  <div class="combo1 combo1_reverse">
    <div class="m-container">
      <div class="row">
        <div class="col col-5 col-push-3 col-lg-5 col-lg-push-1 col-sm-12 col-sm-push-0 combo1__item combo1__item_first">
            <div class="combo-block  combo-block_xs">
              <div class="combo-block__inner">
                <div class="combo-block__img-wrap">
                  <img src="img/combo1/2.jpg" alt=""/>
                </div>
                <div class="textual textual_sm textual_mono combo-block__text">
                    Lorem ipsum dolor sit amet, sed diam nonumy   
                </div>
              </div>
            </div>
        </div>
        <div class="col col-12 col-push-1  col-lg-13 col-lg-push-1 col-md-15 col-md-push-1 col-sm-12 col-sm-push-0  combo1__item combo1__item_second">
          <div class="combo-block combo-block_lg">
            <div class="combo-block__inner">
              <div class="combo-block__img-wrap">
                <img src="img/combo1/1.jpg" alt=""/>
              </div>
              <div class="textual textual_sm textual_mono combo-block__text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END combo1 -->
</section>