<div class="row">
  <div class="col col-1"></div>
  <div class="col col-10">
    <div class="footer__col">
      <div class="textual textual_size-xs footer__textual">
        <p>
          Aktuelle Preise und Datenblätter 
        </p>
      </div>
    
      <a href="#" class="btn btn_dark btn_responsive">
        <span class="btn__in">
          <span class="btn__text">
            <span class="btn__icon btn__icon_left">
              <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
            </span>
            <span class="btn__title">Downloads</span>
            <span class="btn__icon btn__icon_right">
              <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>
  <div class="col col-1"></div>
  <div class="col col-1"></div>
  <div class="col col-10">
    <div class="footer__col">
      <div class="textual textual_size-xs textual_color-dark footer__textual">
        <p>
          Zur Datenbank für den Brandschutz
        </p>
      </div>
    
      <a href="#" class="btn btn_light btn_responsive">
        <span class="btn__in">
          <span class="btn__text">
            <span class="btn__icon btn__icon_left">
              <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
            </span>
            <span class="btn__title">i3-brandschutz.de</span>
            <span class="btn__icon btn__icon_right">
              <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>
  <div class="col col-1 col-md-0"></div>
</div>