
<!-- begin header -->
<header class="header js-header js-invert-color">
  <div class="header__in">
    <div class="header__col">
      <a href="/" class="logo header__logo">
        <div class="logo__icon">{{ mixins.icon('logo-icon') }}</div>
        <div class="logo__text">{{ mixins.icon('logo-text') }}</div>
      </a>
    </div>

    <div class="header__col header__main m-container">
      <div class="header__center-item">
        <a href="#">Über uns</a>
      </div>
    </div>

    <div class="header__col header__col_right">

      <div class="header__text">
        Fachhandel für
        Trockenbau
        Isoliertechnik
        Dämmstoffe
      </div>
    </div>
  </div>
</header>
<button class="burger header__burger js-burger js-invert-color">
</button>
<nav class="soc-list soc-list_header header__soc">
  <ul>
    <li class="js-invert-color"><a href="#">{{ mixins.icon('linked-in') }}</a></li>
    <li class="js-invert-color"><a href="#">{{ mixins.icon('instagram') }}</a></li>
    <li class="js-invert-color"><a href="#">{{ mixins.icon('facebook') }}</a></li>
    <li class="js-invert-color"><a href="#">{{ mixins.icon('email') }}</a></li>
  </ul>
</nav>
<a href="#" class="download-vert header__download js-invert-color">
    <div class="download-vert__text">Downloads</div>
    <div class="download-vert__icon">
      {{ mixins.icon('download-vertical') }}
    </div>
</a>
<div class="header-drop js-header-drop">
  <div class="header-drop__wrapper js-header-drop-wrapper">
    <div class="m-container header-drop__container js-header-drop-container">
      <div class="header-drop__inner">
        <div class="row header-drop__main-menu-wrapper">
            <div class="col col-22 col-lg-21 col-sm-10 col-push-2 col-lg-push-3 col-sm-push-2">
              <ul class="header-drop-menu js-header-drop-menu">
                <li class="header-drop-menu__item is-active">
                  <a href="#">
                    <span>Über uns</span>
                  </a>
                </li>
                <li class="header-drop-menu__item">
                  <a href="#">
                    <span>Leistungen</span>
                  </a>
                </li>
                <li class="header-drop-menu__item is-active js-header-inner-drop">
                  <a class="js-header-inner-drop-btn" href="#">
                    <span>Beratung</span>
                    {{ mixins.icon('arrow-header-drop') }}
                  </a>
                  <ul class="header-inner-drop js-header-inner-drop-content">
                      <li>
                        <a href="#">Trockenbau</a>
                      </li>
                       <li class="is-active">
                        <a href="#">Technische Isolierung</a>
                      </li>
                       <li>
                        <a href="#">Brandschutz</a>
                      </li>
                       <li>
                        <a href="#">Dach und Fassade</a>
                      </li>
                      <li>
                        <a href="#">OEM</a>
                      </li>
                       <li>
                        <a href="#">Dach und Fassade</a>
                      </li>
                      <li>
                        <a href="#">OEM</a>
                      </li>
                       <li>
                        <a href="#">Dach und Fassade</a>
                      </li>
                      <li>
                        <a href="#">OEM</a>
                      </li>
                       <li>
                        <a href="#">Dach und Fassade</a>
                      </li>
                      <li>
                        <a href="#">OEM</a>
                      </li>
                       <li>
                        <a href="#">Dach und Fassade</a>
                      </li>
                      <li>
                        <a href="#">OEM</a>
                      </li>
                       <li>
                        <a href="#">Dach und Fassade</a>
                      </li>
                      <li>
                        <a href="#">OEM</a>
                      </li>
                       <li>
                        <a href="#">Dach und Fassade</a>
                      </li>
                      <li>
                        <a href="#">OEM</a>
                      </li>
                    </ul>
                </li>
                <li class="header-drop-menu__item">
                  <a href="#">
                    <span>Karriere</span>
                  </a>
                </li>
                <li class="header-drop-menu__item">
                  <a href="#">
                    <span>Downloads</span>
                  </a>
                </li>
                <li class="header-drop-menu__item">
                  <a href="#">
                    <span>Kontakt</span>
                  </a>
                </li>
              </ul>

            </div>

        </div>
        <div class="lang header-drop__langs">
          <a href="#" class="lang__item is-active">DE</a>
          <a href="#" class="lang__item">EN</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->


