<!-- begin headline -->
<div class="headline {% if headline.mode %} {{ headline.mode }} {% endif %} {% if headline.rowInner %} headline_inner {% endif %}">
  <div class="m-container">
      <div class="row {% if headline.rowInner %} row_inner {% endif %}">
        <div class="col {% if headline.colClasses %} {{headline.colClasses}} {% else %} col-22 col-push-2  col-sm-11 col-sm-push-1 {% endif %}">
          {% if headline.topline %}
            <h4 class="pseudo-btn headline__topline">
              <span>{{ headline.topline }}</span>
            </h4>
          {% endif %}
          
          {% if headline.title %}
            <h4 class="title title_x title_mono headline__title">
              {{ headline.title }}
            </h4>
          {% endif %}

          {% if headline.headline %}
            {% if headline.h1 %}
            <h1 class="title {% if headline.titleSize %} {{ headline.titleSize }}{% else %} title_l {% endif %} title_line title_line-offscreen headline__item">{{ headline.headline | safe }}</h1>
            {% else %}
             <h2 class="title {% if headline.titleSize %} {{ headline.titleSize }}{% else %} title_l {% endif %} title_line title_line-offscreen headline__item">{{ headline.headline | safe }}</h2>
            {% endif %}
          {% endif %}

          {% if headline.subheadline %}
          <div class="textual
          {% if headline.subheadlineMode %}{{ headline.subheadlineMode }}{% endif %}{% if headline.subHeadSize %}textual_{{ headline.subHeadSize }}{% else%}textual_xxl{% endif %} headline__subheadline">
            <p>
              {{ headline.subheadline }}
            </p>
          </div>
          {% endif %}


          {% if headline.secondText %}
          <div class="textual list list_size-big {% if headline.secondTextSize %} {{ headline.secondTextSize }}{% else %} textual_xl {% endif %} headline__second-text">
            <p>
              {{ headline.secondText|safe }}
            </p>
          </div>
          {% endif %}

          {% if headline.btn %}
            <div class="headline__btn">
              {% set button = headline.btn %}
              {% include './_btn-simple.html' %}
            </div>
          {% endif %}
        </div>
      </div>
  </div>

</div>
<!-- end headline -->

