<!-- BEGIN hero-section -->
  <section class="section hero {% if hero.mode %}{{ hero.mode }}{% endif %} {% if hero.half %}hero_half{% else %}hero_full{% endif %}"  data-aos="fade">

    {% if hero.half %}

    <div class="hero__bg-wrapper">
      <div class="m-container">
        <div class="hero__bg-inner">
          <img src="{{hero.bg}}" alt="alt"/>
        </div>
      </div>
    </div>

  {% else %}

    <div class="hero__bg-wrapper">
      {% if hero.video %}

        <div class="hero__bg-video-wrapper">
          <video muted loop playsinline autoplay poster="{{hero.video.poster}}">
            <source src="{{hero.video.src}}" type="video/mp4" />
          </video>
        </div>

      {% else %}

        <img src="{{hero.bg}}" alt="alt"/>

      {% endif %}
    </div>

  {% endif %}
    <div class="hero__inner">
      {% set headline = hero.headline %}
      {% include './_headline.html' %}
    </div>
    {% if hero.bottomArrow %}
      <a  href="#" class="hero__bottom-arrow-btn js-hero-scroll-btn">
        {{ mixins.icon('arrow-simple-down') }}
      </a>
    {% endif %}
  </section>
<!-- END hero-section -->
