{% set heroSliderImgs = [
  {
      img: 'img/hero-slider/1.jpg'
  },
  {
      img: 'img/hero-slider/2.jpg'
  },
  {
      img: 'img/hero-slider/3.jpg'
  },
  {
      img: 'img/hero-slider/4.jpg'
  }
] %}
{% set heroSliderText = [
  {
      head: '1Erst isoliert',
      subText: 'Einmal um die Welt für Krones.'
  },
  {
      head: '2Erst isoliert, dann verschifft',
      subText: 'Einmal um die Welt für Krones.'
  },
  {
      head: '3Erst isoliert, dann verschifft,  dann verschifft',
      subText: 'Einmal um die Welt für Krones.'
  },
  {
      head: '4Erst isoliert, dann verschifft isoliert, dann verschifft',
      subText: 'Einmal um die Welt für Krones. Einmal um die Welt für Krones Einmal um die Welt für Krones'
  }
] %}

<!-- BEGIN hero-slider -->
  <section class="section"  data-aos="fade">
  <!-- !!!!!!!!!!! need to add class 'is-one-slide' to  .hero-slider if we have 1 slide-->
  <div class="hero-slider js-hero-slider " data-start-slide="0" data-slide-show-duration="3" data-slide-change-duration="0.5">
    <div class="m-container">
      <div class="row">
        <div class="col col-14 col-md-19 col-md-push-1 col-sm-12 col-sm-push-0">
            <div class="hero-slider__left-side">
              <div class="hero-slider__imgs-wrap ">
                {% for item in heroSliderImgs %}
                <img class="js-hero-slider-img" src="{{ item.img }}" alt=""/>
                {% endfor %}
                  <div class="hero-slider__counter ">
                    <div class="hero-slider__counter-line"></div>
                    <div class="js-hero-slider-counter"></div>
                    <!-- <div class="title title_counter hero-slider__counter-number"></div> -->
                  </div>
              </div>
            </div>
        </div>
        <div class="col col-8 col-push-1 col-md-22 col-md-push-1 col-sm-12 col-sm-push-1">
          <div class="hero-slider__right-side">
            <div class="hero-slider__right-side-inner">
                <div class="hero-slider__pagination pagination js-hero-slider-pagination">
                </div>
                <div class="hero-slider__content-wrap js-hero-slider-text-wrapper">
                    {% for item in heroSliderText %}
                      <div class="hero-slider__slide-text js-hero-slider-text">
                        <h1 class="title title_h1 title_line hero-slider__title js-hero-slider-title">{{ item.head }}</h1>
                        <div class="textual textual_size-xl hero-slider__text">{{ item.subText }}</div>
                        <div class="hero-slider__btn-wrap">
                          <a href="#" class="btn">
                              <span class="btn__in">
                                <span class="btn__text">
                                  <span class="btn__icon btn__icon_left">
                                    <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                                  </span>
                                  Mehr erfahren
                                  <span class="btn__icon btn__icon_right">
                                    <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                                  </span>
                                </span>
                              </span>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="hero-slider__text-line js-hero-slider-line"></div>
  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
<!-- END hero-slider -->

{% set about = [
  {
    title: 'Über uns',
    headline: 'Willkommen bei Von Guttenberg',
    quote: ['Gute, technische Isolierung beginnt im Detail. Und das Detail ist unser Fachwissen.'],
    text: [
      'Wir sind der leistungsstarke Macher. Mit den kürzeren Reaktionszeiten, den passenderen Lösungen und dem zuverlässigeren Service. Immer hungrig  nach fordernden Kunden und Projekten.',
      'Wir leben echte Partnerschaft statt falsche Versprechen.  Wir sind der Fachhandel der Wahl, wenn es drauf ankommt.',
      'Wir sind Von Guttenberg.'
    ]
  }
]%}

{% include './_about.html' %}