<section class="section home-news">
  <div class="m-container">
    <div class="home-news__inner">
      <div class="row">
        <div class="col col-5 col-lg-6 col-push-2 col-sm-11 col-sm-push-1">
          <div class="home-news-item textual textual_l textual_mono" >
            <span>01—2024</span>
            <a href="#">Gemeinsam nachhaltig: <br/> ROCKWOOL und Von Guttenberg kooperieren bei Abfallrücknahme-Service Rockcycle®.</a>
          </div>
        </div>
        <div class="col col-5 col-lg-6 col-push-2 col-lg-push-1 col-sm-11 col-sm-push-1">
          <div class="home-news-item textual textual_l textual_mono">
            <span>01—2024</span>
            <a  href="#">Praxisseminar: <br/> Grundlagen, Auffrischung und Vertiefung der VOB im Bereich Nachträge und Abrechnung für das Isolier-Handwerk.</a>
          </div>
        </div>
        <div class="col col-5 col-lg-6 col-push-2 col-lg-push-1 col-sm-11 col-sm-push-1">
          <div class="home-news-item textual textual_l textual_mono" >
            <span>01—2024</span>
            <a href="#">Eins sein: Von Guttenberg und Spezial-Bausoffe werden eine Marke.</a>
          </div>
        </div>
        <div class="col col-20 col-push-2 col-sm-11 col-sm-push-1 home-news__decor"></div>
        </div>
    </div>
  </div>
</section>
