<section class="section image-with-title-section {{data.classes}}">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2">
        <h3 class="image-with-title-section__title pseudo-btn">
          <span>{{data.title}}</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col col-18 col-push-3 col-sm-10 col-sm-push-1">
        <div class="image-container">
          <img 
            src="{{data.image.src}}"
            alt="{{data.image.alt}}"
            {% if data.image.width %}style="max-width: {{data.image.width}}px"{% endif %}
          />
        </div>
      </div>
    </div>
  </div>
</section>