<section class="section image-section {{data.classes}}">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-sm-12 col-push-2 col-sm-push-0">
        <div 
          {% if data.image.width %}style="max-width: {{data.image.width}}px"{% endif %}
          class="image-section__inner {% if data.image.fixedRatio %} fixed-ratio {% endif %}"
        >
          <img 
            src="{{data.image.src}}"
            alt="{{data.image.alt}}"
          />
        </div>
      </div>
    </div>
  </div>
</section>