<!-- BEGIN info-section -->
<section class="section info-section {% if block.mode %}{{ block.mode }}{% endif %}"  data-aos="fade">

  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2  col-sm-11 col-sm-push-1">
        <h5 class="pseudo-btn pseudo-btn_red info-section__top-head">Der Auftrag</h5>
        <div class="textual textual_xxl info-section__subheadline">
          <p>
            Offizieller Sitz des Präsidenten Kasachstans in der kasachischen Hauptstadt Nursultan, monumentale Stahlbetonbauweise, Fassaden aus italienischem Marmor, viele Kronleuchter und die dazu notwendigen Einfassungen für die Deckenkuppeln. Pünktlich und unbeschadet einmal um die halbe Welt geliefert — von uns. Neben dem Liefern auch mit in unserem Angebot: die Abwicklung aller Themen rund um Steuern und Zoll.
          </p>
        </div>
        <h5 class="pseudo-btn info-section__bottom-head">Unsere Leistungen</h5>
      </div>
    </div>
    <div class="row info-section__grid">
      {% for item in block.cols %}
        <div class="info-section__item col
          {% if loop.index is odd %} 
            col-10 col-push-2 col-sm-11 col-sm-push-1
          {% else %} 
            col-10 col-sm-11 col-sm-push-1
          {% endif %}">
          <div class="info-section-block {% if item.mode %}{{ item.mode }}{% endif %}">
            <h2 class="title title_counter info-section-block__head">{{item.head}}</h2>
            <p class="textual textual_md textual_mono info-section-block__text">{{item.subhead}}</p>
          </div>
        </div>
      {% endfor %}
     {#   <div class="col col-20 col-push-2  col-sm-11 col-sm-push-1">
        <div class="info-section__back-btn">
          {% set button = {
            title: 'Zurück',
            mode: '',
            svg: 'arrow-small-left'
          } %}
          {% include '../partials/_btn-simple.html' %}
        </div>
      </div> #}
    </div>
  </div>
</section>
<!-- END info-section -->


