{% set interview = [
  {
    question: 'Was benötigen Sie, damit Ihre Baustelle reibungslos läuft?',
    answer: 'Es braucht jemanden, der die richtige Logistik anbieten kann. Es braucht jemanden, der den Spezialisten im Haus hat, der bei technischen Problemen weiterhilft und die passenden Produkte und Konstruktionen vorschlägt. Und es braucht jemanden, der die vielen Baustoffe fachgerecht aufeinander abgestimmt zusammenführt. Und genau dann liefert — wenn das Material auf der Baustelle verbaut werden muss. All das sind wir: Ihr Fachhändler.'
  },
  {
    question: 'Was wünschen Sie sich für die Zukunft? ',
    answer: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate similique nemo quos facilis quod eveniet cum, distinctio debitis quas nesciunt maiores magni, possimus assumenda id est ut? Totam, esse doloribus?'
  }

] %}
<section class="section">
<div class="interview">
  <div class="m-container">
    <div class="row">
      <div class="col col-22 col-push-2 col-sm-11 col-sm-push-1">
        {% for i in interview %}
          <div class="interview-block">
            <div class="interview-block__question">
              <h2 class="title title_s">{{ i.question }}</h2>
            </div>
            <div class="interview-block__answer">
              <div class="textual textual_xl">
                <p>{{ i.answer }}</p>
                <p>Für den Trockenbau führen wir eine ganze Menge auf Lager. Gipskarton und Trendwandplatten — alles von A bis Z. Tatsächlich. Beginnend bei A wie Abhänger bis Z wie Zargen. Und dazwischen liegt alles andere, was Sie sonst noch brauchen. Produkte für ganz individuelle Bedürfnisse haben wir nicht immer auf Lager, finden und liefern wir aber trotzdem. Außerdem im Lieferprogramm: die genau passenden, richtig aufeinander abgestimmten Bauelemente.</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>


