{% include './_back-btn-section.html' %}
<section class="section">
  <div class="job-offer-page">
    <div class="m-container">
      <div class="row">
        <div class="col col-13 col-push-6 col-lg-17 col-lg-push-6 col-md-21 col-md-push-2 col-sm-11 col-sm-push-1">
          {% include './_headline.html' %}
        </div>
        <div class="col col-13 col-push-6 col-lg-17 col-lg-push-6 col-md-21 col-md-push-2 col-sm-11 col-sm-push-1">
          <div class="article-block list list_size-big">
            <h4 class="textual textual_size-xl article-block__title"> Beschreibung</h4>
            <div class="textual textual_std textual_std-xl">
              <p>Es braucht jemanden, der die richtige Logistik anbieten kann. Es braucht Es braucht jemanden, der die richtige Logistik anbieten kann. Es braucht jemanden, der den Spezialisten im Haus hat, der bei technischen Problemen weiterhilft und die richtigen Produkte und Konstruktionen vorschlägt. Und es braucht jemanden, der die vielen Materialien fachgerecht aufeinander abgestimmt zusammenführt. Und genau dann liefert – wenn es auf der Baustelle verbaut werden muss.</p>
              <p>All das sind wir: Ihr Fachhändler.</p>
            </div>
          </div>
          <div class="article-block list list_size-big">
            <h4 class="textual textual_size-xl article-block__title">Qualifikationen und Erfahrung</h4>
            <div class="textual textual_std textual_std-xl">
            <ul>
              <li>
                Es braucht jemanden, der die richtige Logistik anbieten kann. Es braucht Es  braucht jemanden, der die richtige Logistik anbieten kann. 
              </li>
              <li>
                Es braucht jemanden, der den Spezialisten im Haus hat, der bei technischen Problemen weiterhilft und die richtigen Produkte und Konstruktionen vorschlägt.
              </li>
              <li>
                Und es braucht jemanden, der die vielen Materialien fachgerecht aufeinander abgestimmt zusammenführt. Und genau dann liefert – wenn es auf der Baustelle verbaut werden muss.
              </li>
            </ul>
            <p>
              All das sind wir: Ihr Fachhändler. 
            </p>
          </div>
          </div>
          <div class="job-offer-page__btns">
            <a href="mailto:test.gmail.com" class="btn">
              <span class="btn__in">
                <span class="btn__text">
                  <span class="btn__icon btn__icon_left">
                    <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                  </span>
                  Jetzt bewerben
                  <span class="btn__icon btn__icon_right">
                    <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                  </span>
                </span>
              </span>
            </a>
            <div class="job-offer-page__btns-group">
              <div>
                <button class="clipboard-link js-clipboard-link" >
                    <input class="js-clipboard-input" style="display: none;" type="hidden"  value="Copied!">
                    <span>Copy to clipboard</span>
                    <i>
                      {{ mixins.icon('clipboard') }}
                    </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>