<!-- begin list-block -->
<section class="section list-block {% if listBlock.mode %}{{listBlock.mode}}{% endif %}" data-aos="fade" >

  <div class="m-container">
    <div class="row">
      <div class="col col-22 col-push-2 col-sm-11 col-sm-push-1">
		   <div class="list list_size-big">
		   <h4 class="list-block__head pseudo-btn">
		   	Unsere Leistungen
		   </h4>
		    <ul>
		      <li>Hochspezialisiertes Lagersortiment — Knauf, Siniat, Promat</li>
		      <li>Garantiert große Mengen auf Lager zur Versorgung von Großbaustellen</li>
		      <li>Gesamt überdachte Lagerflächen</li>
		      <li>Trockenbauspezifischer Fuhrpark mit Verkranung</li>
	          <li>Spezialisten für Trockenbau, Bauelemente und Brandschutz</li>
	          <li>Warenabholung 24/7</li>
		    </ul>
		  </div>
      </div>
    </div>

  </div>
</section>
<!-- end list-block -->