{% set locations = [
  {
    title: 'Zentrale Aschheim',
    mode: '',
    btn_mode: ''
  },
  {
    title: 'Niederlassung Amt Wachsenburg'
  },
  {
    title: 'Niederlassung Merseburg'
  }

] %}


  {% set headline = {
    mode: 'locations__headline',
    title: 'Unsere Standorte',
    headline: 'Servus, <br/>Guten Tach <br/>Und hallo'
  } %}


<section class="section locations">
{% include '../partials/_headline.html' %}

    <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2 col-sm-11 col-sm-push-1">
        <div class="locations__inner">
          <p class="locations__head">
            Standort
          </p>
          <div class="accordions-wrap js-locations-accordion" >
              {% for item in locations %}
              <div class="accordion  {{ item.mode }} js-accordion" data-scroll-to-open="true">
                <div class="accordion__head js-accordion-btn">
                  <div class="accordion__title title title_xs title_bold">{{ item.title }}</div>
                  <div class="controls controls_type-square  accordion__btn {{ item.btn_mode }}"><i>{{ mixins.icon('plus') }}</i></div>

                </div>
                <!-- <div class="accordion__inner"> -->
                  <div class="accordion__content locations__content js-accordion-content">
                    <div class="locations__content-inner">
                    <div class="locations__group-item">
                      <div class="locations__map-wrap">
                          <a href="#">
                              <img src="img/locations/img.jpeg" alt=""/>
                              <!-- <img src="img/locations/map-new.jpg" alt=""/> -->
                          </a>
                        </div>
                         <div class="title title_xs title_bold locations__sub-title">Adresse, Kontakt und Öffnungszeiten</div>
                        <div class="textual textual_mb-none locations__text-wrap">
                          <div class="textual textual_l locations__group">
                            <p>Carl-Miele-Straße 4</p>
                            <p>99334 Amt Wachsenburg</p>
                          </div>
                          <div class="textual textual_l locations__group locations__group_mb-big">
                            <p>Tel <a href="tel:+49899099830">+49 89 909983-0</a></p>
                            <p>Fax <a href="+498990998320">+49 89 909983-20</a></p>
                            <p><a href="mailto:thoerey@vonguttenberg.de">thoerey@vonguttenberg.de</a></p>
                          </div>
                          <div class="textual textual_l locations__group">
                            <p class="locations__justify"><span>Mo—Do</span><span>7.00 bis 17.00 Uhr</span></p>
                            <p class="locations__justify"><span>Fr</span><span>7.00 bis 16.00 Uhr</span></p>
                          </div>
                        </div>
                    </div>
                    <div class="locations__group-item">
                      <div class="locations__map-wrap">
                          <div class="location-map js-location-map" data-lat="50.8850450661754" data-lng="10.937537757672862" data-zoom="14"></div>
                        </div>
                         <div class="title title_xs title_bold locations__sub-title">Anfahrt</div>
                         <div class="title title_xs title_bold locations__second-sub-title">Zahlen und Fakten</div>
                        <div class="textual textual_mb-none locations__text-wrap">
                          <div class="textual textual_l locations__group">
                            <!-- <p>Hier steht eine Anfahrtsbeschreibung.</p> -->
														<p class="locations__table-item"><span>Mitarbeiter</span><span>10</span></p>
                            <p class="locations__table-item"><span>Lagerfläche</span><span>3.300 m<sup>2</span></p>
                            <p class="locations__table-item"><span>Fuhrpark</span><span>3 LKW</span></p>
                            <p class="locations__table-item"><span>Fuhrpark Lagerfläche Lagerfläche</span><span>3 LKW Lagerfläche Lagerfläche Lagerfläche Lagerfläche Lagerfläche</span></p>
                          </div>
                        </div>
                    </div>
                    </div>
                    <div class="l-contacts">
                      <div class="l-contacts__head title title_xs">Ihre Ansprechpartner</div>
                      <div class=" l-contacts__boxes">
                        {% for item in data.boxes %}
                        <div class=" l-contacts__box">
                          <div class="l-contacts__box-row">
                            <div class="l-contacts__box-img">
                              <img src="{{ item.image }}" alt="{{ item.name }}" />
                            </div>
                            <div class="textual textual_x textual_bold l-contacts__box-name">{{ item.name }}</div>
                            <div class="textual textual_l textual_mono l-contacts__box-career">{{ item.career | safe }}</div>
                          </div>
                          <div class="textual textual_l textual_mono l-contacts__box-links">
                            <a href="tel:33" class="l-contacts__link">Tel +49 36202 975-32</a>
                            <a href="mailto:mueller@vonguttenberg.de" class="l-contacts__link">mueller@vonguttenberg.de</a>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
