{% set logoWall = [
  {
    logo: 'img/logo-wall/1.png'
  },
  {
    logo: 'img/logo-wall/2.png'
  },
  {
    logo: 'img/logo-wall/3.png'
  },
  {
    logo: 'img/logo-wall/4.png'
  },
  {
    logo: 'img/logo-wall/5.png'
  },
  {
    logo: 'img/logo-wall/1.png'
  },
  {
    logo: 'img/logo-wall/2.png'
  },
  {
    logo: 'img/logo-wall/3.png'
  },
  {
    logo: 'img/logo-wall/4.png'
  },
  {
    logo: 'img/logo-wall/5.png'
  },
  {
    logo: 'img/logo-wall/1.png'
  },
  {
    logo: 'img/logo-wall/2.png'
  },
  {
    logo: 'img/logo-wall/3.png'
  },
  {
    logo: 'img/logo-wall/4.png'
  },
  {
    logo: 'img/logo-wall/5.png'
  },
  {
    logo: 'img/logo-wall/1.png'
  },
  {
    logo: 'img/logo-wall/2.png'
  },
  {
    logo: 'img/logo-wall/3.png'
  },
  {
    logo: 'img/logo-wall/4.png'
  },
  {
    logo: 'img/logo-wall/5.png'
  }
] %}
<section class="section">
  <!-- BEGIN logo-wall -->
<div class="logo-wall">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2 col-lg-22 col-lg-push-1 col-sm-12 col-sm-push-0">
        <div class="logo-wall__inner">
          <div class="accordions-wrap js-logo-wall-accordion">
         
              <div class="accordion js-accordion is-active">
                <div class="accordion__head js-accordion-btn">
                  <div class="accordion__title textual textual_color-light textual_std textual_std-sm">Unsere Handelspartner</div>
                  <div class="controls  accordion__btn is-rotate"><i>{{ mixins.icon('plus') }}</i></div>
                </div>
                <!-- <div class="accordion__inner"> -->
                  <div class="accordion__content js-accordion-content">
                    <div class="row row_inner logo-wall__content-row">
                      {% for i in logoWall %}
                        <div class="col col-20-2 col-20-push-1 col-22-lg-3 col-22-lg-push-1 col-sm-3 col-sm-push-0">
                          <div class="logo-wall__item">
                            <img src="{{i.logo}}" alt="" data-object-fit="contain" />
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                <!-- </div> -->
              </div>
  
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END logo-wall -->
</section>