{% set newsItems = [
  {
    date: '01—2025',
    img: 'img/news/1.jpg',
    head: 'Eins sein',
    title: 'Von Guttenberg und Spezial-Baustoffe werden eine Marke'
  },
  {
    date: '01—2025',
    img: 'img/news/2.jpg',
    head: 'Praxisseminar Technik und Recht',
    title: 'Grundlagen, Auffrischung und Vertiefung der VOB im Bereich Nachträge und Abrechnung für das Isolier-Handwerk'
  },
  {
    date: '01—2025',
    img: 'img/news/3.jpg',
    head: 'Personalie',
    title: 'Thorsten Schmitt wird neuer Kaufmännischer Leiter'
  },
  {
    date: '01—2025',
    img: 'img/news/4.jpg',
    head: 'Gemeinsam nachhaltig',
    title: 'ROCKWOOL und Von Guttenberg kooperieren bei Abfallrücknahme-Service Rockcycle®'
  }
] %}
<section class="section news-section">
  <div class="news-section__inner">
    <div class="m-container">
      <div class="row">
         <div class="col col-20 col-lg-22 col-sm-12  col-sm-4 col-push-2 col-lg-push-1  col-sm-push-0">
          <div class="news-grid">
            {% for i in newsItems %}
              <a class="news-item" href="#">
                <p class="textual textual_md textual_mono news-item__date">{{i.date}}</p>
                <div class="news-item__img"><img src="{{i.img}}"/></div>
                <p class="textual textual_mono textual_md news-item__head">{{i.head}}</p>
                <h4 class="title title_s news-item__title">{{i.title}}</h4>
                <div href="#" class="btn-simple">
                  <span class="btn-simple__inner">
                    <span class="btn-simple__svg">
                      <svg class="icon icon-arrow-small">
                        <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                      </svg>
                    </span>
                    <span class="btn-simple__text"> Mehr erfahren </span>
                  </span>
                </div>
              </a>
            {% endfor %}
          </div>
          <!-- add is-hidden to wrapper next when nothing to load -->
          <div class="news-grid__load-more-wrapper">
            <button class="textual textual_xxl">mehr laden</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
