<section class="section quote-banner">
  {% if data.image.src %}
    <img class="background-image" src="{{ data.image.src }}" alt="{{data.image.alt}}" />
  {% endif %}
  
  <div class="content m-container">
    <div class="row">
      <div class="col col-20 col-push-2">
        <p class="quote">
          „{{ data.quote|safe }}“
        </p>
      </div>
    </div>
  </div>
</section>
