 <div class="scroll-top-wrapper">
    <div class="scroll-to scroll-to_top js-scroll-top">
      <button >
          <div class="scroll-to__icon">
            {{ mixins.icon('scroll-to-top') }}
          </div>
          <div class="scroll-to__text">Top</div>
      </button>
      <div class="scroll-to__line"></div>
    </div>
</div>