<!-- begin services -->
<section class="section services {% if data.mode %}{{data.mode}}{% endif %}" data-aos="fade" id="services_scroll">
  <div class="services__headline">
    {% set headline = {
      title: data.title,
      headline: data.headline,
      subheadline: data.subheadline
    } %}
    {% include './_headline.html' %}
  </div>
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2  col-sm-11 col-sm-push-1">
        <div class="services__line"></div>
      </div>
    </div>
    <div class="row ">
      <div class="col col-20 col-push-2 col-sm-11 col-sm-push-1">
        <div class="services__boxes">
          <div class="swiper-container js-services-slider">
              <div class="swiper-wrapper">
                  {% for item in data.boxes %}
                  <div class="swiper-slide">
                    <div class=" services__box">
                        <h4 class="title title_x title_mono services__box-title js-services-upper-title">{{ item.title }}</h4>
                        <h5 class="title title_md title_letter-space-sm   title_uppercase services__box-headline js-services-title">
                          {{ item.headline | safe }}
                        </h5>
                        <div class="textual textual_x textual_bold textual_color-light services__box-text js-services-text">
                          {{ item.text }}
                        </div>
                        {% set button = {
                          title: item.btn
                         } %}
                        {% include './_btn-simple.html' %}
                    </div>
                  </div>
                  {% endfor %}
              </div>
              <!-- Add Pagination -->

          </div>
      </div>
      <div class="pagination pagination_custom  swiper-pagination js-services-pagination"></div>
      </div>
    </div>
  </div>
</section>
<!-- end services -->


