<section class="section simple-gallery {{simpleGalleryMode}}">
  {% set headline = simpleGallery.headline %}
  {% include './_headline.html' %}


  <div class="m-container">
    <div class="row ">
        <div class="col col-20 col-push-2  col-sm-12 col-sm-push-0 js-simple-gallery-wrapper">
          <div class="simple-gallery__slider">
            <div class="swiper-container js-simple-gallery-slider">
                <div class="swiper-wrapper">
                  {% for item in simpleGallery.slides %}
                    <div class="swiper-slide simple-gallery__slide">
                      <div class="simple-gallery__slide-inner">
                        <div class="simple-gallery__bg" style="--overlay-index: 0.2;">
                          <img src="{{item.src}}" alt="{{item.alt}}"/>
                        </div>
                        <div class="simple-gallery__content">
                          {% set headline = item.headline %}
                          {% include '../partials/_headline.html' %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
      <div class="simple-gallery__pagination pagination pagination_simple swiper-pagination js-simple-gallery-pagination is-active "></div>
      </div>
    </div>
  </div>
</section>
