<section class="section simple-hero">
  <div class="m-container">
    <div class="row">
      <div class="col  col-20 col-push-3  col-sm-11 col-sm-push-1 ">
        <p class="simple-hero__head textual textual_md textual_mono">{{hero.head}}</p>
        <h1 class="simple-hero__title title title_l">{{hero.title}}</h1>
        {% if hero.img == true %}
          <div class="simple-hero__img simple-hero__media">
            <img src="img/combo2/1.jpg" />
          </div>
        {% else %}
          <div class="video-block simple-hero__video simple-hero__media">
            <div class="video-block__inner">
              <div class="video-block__bg-video-wrapper js-video-wrapper" style="--overlay-index: 0.5">
                <div class="video-block__bg-video-poster">
                  <img src="img/teaser-box.jpg" alt="alt"/>
                </div>
                <video class="js-video" playsinline>
                  <source src="img/video.mp4" type="video/mp4" />
                </video>
                <button class="video-block__play-btn js-video-play-btn">
                  {{ mixins.icon('play') }}
                </button>
                <button class="video-block__pause-btn">
                  {{ mixins.icon('pause') }}
                </button>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
