{%  set teasers = [
  {
    mode: '',
    img: 'img/teaser-box/5.jpeg',
    title: 'Leitung Trockenbau',
    title_mode: '',
    head: 'Thomas <br/>Stabrey',
    head_mode: ''
  },
  {
    mode: '',
    img: 'img/teaser-box/6.jpeg',
    title: 'Leitung Technise Isolierung',
    head: 'Steffen <br/>Günther',
    head_mode: ''
  },
  {
    mode: '',
    img: 'img/teaser-box/5.jpeg',
    title: 'Leitung Trockenbau',
    title_mode: '',
    head: 'Thomas <br/>Stabrey',
    head_mode: ''
  },
  {
    mode: '',
    img: 'img/teaser-box/6.jpeg',
    title: 'Leitung Technise Isolierung',
    head: 'Steffen <br/>Günther',
    head_mode: ''
  },
  {
    mode: '',
    img: 'img/teaser-box/6.jpeg',
    title: 'Leitung Technise Isolierung',
    head: 'Steffen <br/>Günther',
    head_mode: ''
  }
  ]
%}


<section class="headline-section">
  {% set headline = {
    title: 'independent section',
    h1: true,
    titleSize: 'title_xl',
    headline: 'Headline <br/> Separate section',
    btn: {
      title: 'Mehr erfahren',
      mode: ''
    }

  } %}
  {% include './_headline.html' %}
</section>
<section class="section teaser-boxes">
    <div class="m-container">
        <div class="row">
          <div class="col col-24 col-sm-12">
            <h2 class="title title_s teaser-boxes__head">Mehr Themen</h2>
          </div>
        </div>
      </div>
      <div class="teaser-boxes__gallery-wrapper">
          <div class="swiper-container js-teaser-boxes-gallery">
            <div class="swiper-wrapper">
              {% for item in teasers %}
                <div class="swiper-slide">
                    {% include './_teaser-box-item.html' %}
                </div>
              {% endfor %}
            </div>
          </div>
      </div>
</section>


