<div class="teaser-box {{ item.mode }}">
  <p class="textual textual_l textual_mono teaser-box__date">01—2025</p>
  <div class="teaser-box__img" style="--overlay-index: 0.1;">
    <img src="{{item.img}}" alt="alt"/>
  </div>
  <div class="teaser-box__btn">
    {% set button =  {
      title: 'Mehr erfahren',
      mode: ''
    } %}
    {% include './_btn-simple.html' %}
  </div>
</div>
