---
title: combo1
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section space-top-none back-section">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2  col-sm-11 col-sm-push-1">
    {% set button = {
      title: 'Mehr erfahren',
      mode: 'js-back-history',
      svg: 'arrow-small-left'
     } %}
    {% include './partials/_btn-simple.html' %}
      </div>
    </div>
  </div>
</section>


<section class="section space-top-none back-section back-section--gray">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2  col-sm-11 col-sm-push-1">
    {% set button = {
      title: 'Mehr erfahren',
      mode: 'js-back-history',
      svg: 'arrow-small-left'
     } %}
    {% include './partials/_btn-simple.html' %}
      </div>
    </div>
  </div>
</section>


{% endblock %}
