---
title: Styleguide

modules: ['styleguide']
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  h2 {
    margin-bottom: 30px;
  }

  .container {
    margin-bottom: 20px;
  }
</style>

<div
  style="
    padding: 50px;
  "
>

  <h2>Buttons</h2>

  <div class="container">
    {% set button = {
      title: 'Offene Stellen',
      mode: 'is-custom-color',
      count: '72',
      color: 'blue'
     } %}
    {% include './partials/_btn-simple.html' %}
  </div>
  <div class="container">
    {% set button = {
      title: 'Offene Stellen',
      mode: '',
      count: '72'
     } %}
    {% include './partials/_btn-simple.html' %}
  </div>

  <div class="container">
    {% set button = {
      title: 'Mehr erfahren',
      mode: ''
     } %}
    {% include './partials/_btn-simple.html' %}
  </div>
    <div class="container">
    {% set button = {
      title: 'Mehr erfahren',
      mode: '',
      svg: 'arrow-small-left'
     } %}
    {% include './partials/_btn-simple.html' %}
  </div>

 <div class="container" style="padding: 20px; background: #FF0000;">
    {% set button = {
      title: 'Mehr erfahren',
      mode: 'btn-simple_white'
     } %}
    {% include './partials/_btn-simple.html' %}
  </div>
   <div class="container" style="padding: 20px; background: #FF0000;">
    {% set button = {
      title: 'Mehr erfahren',
      mode: 'btn-simple_white',
      count: '7777'
     } %}
    {% include './partials/_btn-simple.html' %}
  </div>
    <h2>OLD buttons</h2>

  <div class="container">
  <a href="#" class="btn btn_back">
    <span class="btn__in">
      <span class="btn__text">
        <span class="btn__icon btn__icon_left">
          <span class="btn__svg">{{ mixins.icon('arrow-small-left') }}</span>
        </span>
        zurück
        <span class="btn__icon btn__icon_right">
          <span class="btn__svg">{{ mixins.icon('arrow-small-left') }}</span>
        </span>
      </span>
    </span>
  </a>
  </div>
  <div class="container">
      <a class="btn btn_vertical" href="#">
          <span class="btn__in">
            <span class="btn__text">
              Download
              <span class="btn__icon-wrap">
                <span class="btn__icon btn__icon_top">
                    <span class="btn__svg">{{ mixins.icon('arrow-small-vertical') }}</span>
                  </span>
                <span class="btn__icon btn__icon_bottom">
                  <span class="btn__svg">{{ mixins.icon('arrow-small-vertical') }}</span>
                </span>
              </span>
            </span>
          </span>
        </a>
  </div>

  <div class="container">
    <a href="#" class="btn">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
    </a>
  </div>

  <div class="container">
    <a href="#" class="btn">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">
              {{ mixins.icon('arrow-small') }}
            </span>
          </span>
        </span>
      </span>
      <span class="btn__counter" title="3">3</span>
    </a>
  </div>

  <div class="container">
    <a href="#" class="btn">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
      <span class="btn__counter" title="32">32</span>
    </a>
  </div>

  <div class="container">
    <a href="#" class="btn">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
      <span class="btn__counter" title="356">356</span>
    </a>
  </div>

  <div class="container" style="background-color: #FF0000; padding: 30px;">
    <a href="#" class="btn btn_light">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
    </a>

    <br />
    <br />

    <a href="#" class="btn btn_light">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
      <span class="btn__counter" title="356">3</span>
    </a>
  </div>

  <div class="container" style="background-color: #640C00; padding: 30px;">
    <a href="#" class="btn btn_dark">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
      <span class="btn__counter" title="356">3</span>
    </a>

    <br />
    <br />

    <a href="#" class="btn btn_dark">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
    </a>
  </div>

  <div class="container" style="background-color: gray; padding: 30px;">
    <a href="#" class="btn btn_custom">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
    </a>

    <br />
    <br />

    <a href="#" class="btn btn_custom">
      <span class="btn__in">
        <span class="btn__text">
          <span class="btn__icon btn__icon_left">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
          Mehr erfahren
          <span class="btn__icon btn__icon_right">
            <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
          </span>
        </span>
      </span>
      <span class="btn__counter" title="356">3</span>
    </a>
  </div>
</div>

{% endblock %}
