---
title: Controls
---

{% extends "layouts/_layout.html" %}

{% block content %}

<style>
    h2 {
      margin-bottom: 30px;
    }
  
    .container {
      margin-bottom: 20px;
    }
  </style>
  
  <div
    style="
      padding: 50px;
    "
  >
    <h2>Controls</h2>

    <div class="container">
      <h4 style="margin-bottom: 10px;">Scroll top</h4>
      <div class="scroll-to scroll-to_top js-scroll-top">
          <button >
              <div class="scroll-to__icon">
                {{ mixins.icon('scroll-to-top') }}
              </div>
              <div class="scroll-to__text">Top</div>
          </button>
          <div class="scroll-to__line"></div>
      </div>
    </div>


    <h2>Controls old</h2>

    <div class="container">
      <button class="controls">
        {{ mixins.icon('plus') }}
      </button>
    </div>

    <div class="container">
        <button class="controls">
          <div class="controls__icon">
            {{ mixins.icon('close') }}
          </div>
        </button>
      </div>

    <div class="container">
      <button class="controls controls_type-square controls_size-sm controls_type-arrow">
        <div class="controls__icon controls__icon_left">{{ mixins.icon('arrow-small') }}</div>
        <div class="controls__icon controls__icon_right">{{ mixins.icon('arrow-small') }}</div>
      </button>
    </div>

    <div class="container">
      <button class="controls controls_type-square">
        {{ mixins.icon('plus') }}
      </button>
    </div>

    <div class="container">
      <button class="controls controls_type-square">
        {{ mixins.icon('close') }}
      </button>
    </div>

    <div class="container">
      <h4 style="margin-bottom: 10px;">With rotating: </h4>
      <button class="controls controls_type-square controls_has-rotating">
        {{ mixins.icon('plus') }}
      </button>
    </div>

    <div class="container">
      <h4 style="margin-bottom: 10px;">Burger:</h4>
      <button class="burger">
        <div class="burger__in"></div>
      </button>
    </div>



    <div class="container">
      <h4 style="margin-bottom: 10px;">Scroll down</h4>
      <div class="scroll-to scroll-to_down">
        <button>
            <div class="scroll-to__text">Down</div>
            <div class="scroll-to__icon">
              {{ mixins.icon('angle-top') }}
            </div>
        </button>
      </div>

    </div>

  </div>

{% endblock %}
