---
title: Contacts
modules: ['contacts']
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {% set data = {
    headline: {
      mode: 'contacts__headline',
      title: 'Im Gespräch',
      headline: 'Einfach mal <br/> Nachgefragt'
    },
    boxes: [
      {
        image: './img/contacts/1.jpg',
        name: 'Jörg von Guttenberg',
        career: 'Geschäftsführung',
        btn: {
          title: 'Mehr erfahren'
        }
      },
      {
        image: './img/contacts/2.jpg',
        name: 'Thomas Stabrey',
        career: 'Leitung Vertrieb, Innen- und Außendienst',
        btn: {
          title: 'Mehr erfahren'
        }
      },
      {
        image: './img/contacts/3.jpg',
        name: 'Steffen Günther',
        career: 'Leitung Vertrieb und Innendienst',
         btn: {
          title: 'Mehr erfahren'
        }
      },
      {
        image: './img/contacts/1.jpg',
        name: 'Jörg von Guttenberg',
        career: 'Geschäftsführung',
        btn: {
          title: 'Mehr erfahren'
        }
      },
      {
        image: './img/contacts/2.jpg',
        name: 'Carmen Jahr',
        career: 'Ansprechpartner Merseburg ',
        btn: {
          title: 'Mehr erfahren'
        }
      }
    ]
   } %}

  {% include './partials/_contacts.html' %}


    {% set data = {
    headline: {
      mode: 'contacts__headline',
      title: 'Ihre Ansprechpartner',
      headline: 'Wir beraten <br/> sie gerne'
    },
    boxes: [
      {
        image: './img/contacts/1.jpg',
        name: 'Jörg von Guttenberg',
        career: 'Geschäftsleitung Ansprechpartner Aschheim',
        tel: '+49 89 909983-0',
        email: 'jvg@vonguttenberg.de'
      },
      {
        image: './img/contacts/2.jpg',
        name: 'Carmen Jahr',
        career: 'Ansprechpartner <br/> Merseburg ',
        tel: '+49 89 909983-0',
        email: 'jahr@vonguttenberg.de'
      },
      {
        image: './img/contacts/3.jpg',
        name: 'Gabi Müller',
        career: 'Ansprechpartner <br/> Thörey',
        tel: '+49 89 909983-0',
        email: 'g.mueller@vonguttenberg.de'
      },
      {
        image: './img/contacts/4.jpg',
        name: 'Steffen Günther',
        career: 'Ansprechpartner <br/> Technische Isolierung',
        tel: '+49 89 909983-0',
        email: 'guenther@vonguttenberg.de'
      },
      {
        image: './img/contacts/5.jpg',
        name: 'Kay Schink',
        career: 'Ansprechpartner <br/> Merseburg',
        tel: '+49 89 909983-0',
        email: 'schink@vonguttenberg.de'
      },
      {
        image: './img/contacts/6.jpg',
        name: 'Thomas Stabrey',
        career: 'Ansprechpartner <br/> Dach und Fassade',
        tel: '+49 89 909983-0',
        email: 'stabrey@vonguttenberg.de'
      },
      {
        image: './img/contacts/7.jpg',
        name: 'Steffen Günther',
        career: 'Ansprechpartner <br/> Technische Isolierung',
        tel: '+49 89 909983-0',
        email: 'guenther@vonguttenberg.de'
      }
    ]
   } %}

   {% include './partials/_contacts.html' %}

  
{% endblock %}
