---
title: Components
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <div>
    {% set headline = {
    topline: 'Lorem Unsere Projekte',
    title: 'should be used inside other sections',
    h1: true,
    titleSize: 'title_xl',
    headline: 'Headline <br/>Inner Block',
    secondText: '<p>Lorem ipsum dolor sit amet. Aut adipisci voluptatem hic tempora natus aut iure galisum et provident Quis. Ut consectetur tenetur sed ullam quia est temporibus officiis nam facilis culpa ab quisquam consequuntur. </p><p>Quo quia molestiae sed ullam adipisci vel neque culpa sed temporibus blanditiis ut corporis distinctio quo alias galisum? Sit deleniti magni eos totam magnam in sunt maxime et impedit velit non perferendis adipisci est nostrum dolores aut quidem voluptas! Hic consequatur minus aut animi facilis sit reiciendis repellendus in consectetur incidunt aut vitae eaque in accusantium culpa ut vitae quis. </p><p>Aut quasi repellendus sit fugit consequatur aut perspiciatis aliquam. In deleniti pariatur aut reprehenderit dolor et praesentium inventore! Non animi neque sed quia consectetur ut voluptas officia aut repellat perferendis! </p><ul><li>At odit doloremque ad accusamus soluta. </li><li>Ut sequi iste sed laboriosam perspiciatis nam cupiditate officiis sit voluptatem odio. </li><li>Aut quibusdam molestiae a debitis aperiam aut dignissimos perferendis At porro dolor. </li><li>Et consequuntur sunt in fugit itaque a deserunt sequi. </li><li>Ut vero vero eos sunt enim? </li></ul>',
    btn: {
      title: 'Mehr erfahren',
      mode: ''
    }

  } %}
  {% include './partials/_headline.html' %}
  </div>

<section class="headline-section">
  {% set headline = {
    title: 'independent section',
    h1: true,
    titleSize: 'title_xl',
    headline: 'Headline <br/> Separate section',
    btn: {
      title: 'Mehr erfahren',
      mode: ''
    }

  } %}
  {% include './partials/_headline.html' %}
</section>
<section class="headline-section">
  {% set headline = {
    title: 'Unsere Projekte',
    headline: 'Überall im <br/> Einsatz'
  } %}
  {% include './partials/_headline.html' %}
</section>

<section class="headline-section">
  {% set headline = {
    title: 'Unsere Projekte',
    headline: 'Überall im <br/> Einsatz',
    subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.'
  } %}
  {% include './partials/_headline.html' %}
</section>

<section class="headline-section">
  {% set headline = {
    title: 'Unsere Projekte',
    headline: 'Überall im <br/> Einsatz',
    subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.',
    btn: {
      title: 'Mehr erfahren',
      mode: '',
      count: '7'
    }
  } %}
  {% include './partials/_headline.html' %}
</section>

<section class="headline-section">
  {% set headline = {
    title: 'Unsere Projekte',
    headline: 'Überall im <br/> Einsatz',
    secondText: '<strong>Fachliche Beratung</strong>, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.'
  } %}
  {% include './partials/_headline.html' %}
</section>

<section class="headline-section">
  {% set headline = {
    title: 'Unsere Projekte',
    headline: 'Überall im <br/> Einsatz',
    subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.',
    secondText: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.'
  } %}
  {% include './partials/_headline.html' %}
</section>

<section class="headline-section">
  {% set headline = {
    mode: 'headline_hero',
    title: 'Von Guttenberg als nachhaltiges Unternehmen',
    headline: 'Rot ist auch <br/> Grün',
    subheadline: 'Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner, am Empfang, im Büro oder am Telefon: Bei uns treffen Sie auf Spezialisten, Macher und Teamplayer, die jeden Tag mit vollem Einsatz beweisen, dass es für jede noch so große Herausforderung unserer Kunden immer eine richtig gute Lösung gibt.',
    secondText: 'Zwischen unserer roten Markenfarbe verbirgt sich ganz viel Grün. Unsere Betriebsgebäude sind — na klar — perfekt gedämmt. Dadurch haben wir von jeher den CO2-Verbrauch reduziert. Außerdem produzieren wir mit unseren Fotovoltaik-Anlagen eigenen Strom für unser Büro, das Lager, die Stapler und die Firmen-Fahrzeuge.',
    btn: {
      title: 'Zurück',
      svg: 'arrow-small-left'
    }
  } %}
  {% include './partials/_headline.html' %}
</section>

<section class="headline-section headline-section_grey" >
  {% set headline = {
    title: 'Unsere Projekte',
    headline: 'Überall im <br/> Einsatz',
    subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.',
    btn: {
      title: 'Mehr erfahren',
      count: '7'
    }
  } %}
  {% include './partials/_headline.html' %}
</section>

<section class="headline-section headline-section_red" >
  {% set headline = {
    title: 'Unsere Projekte',
    mode: 'headline_light',
    headline: 'Überall im <br/> Einsatz',
    subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.',
    btn: {
      title: 'Mehr erfahren',
      mode: 'btn-simple_white',
      count: '7'
    }
  } %}
  {% include './partials/_headline.html' %}
</section>


<section class="headline-section headline-section_red" >
  {% set headline = {
    topline: 'Lorem Unsere Projekte',
    title: 'Unsere Projekte',
    mode: 'headline_light',
    headline: 'Überall im <br/> Einsatz',
    subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.',
    btn: {
      title: 'Mehr erfahren',
      mode: 'btn-simple_white',
      count: '7'
    }
  } %}
  {% include './partials/_headline.html' %}
</section>


{% endblock %}
