---
title: home hero
scripts:
modules: ['hero', 'header', 'footer']
hero_image: true


---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include './partials/_header.html' %}
  {% set hero = {
    mode: 'hero_vertical-center hero-video',
    bg: 'img/huge-teaser/3.jpeg',
    video: {
      src: 'img/video/001.mp4',
      poster: 'img/combo2/3.jpg'
    },
    bottomArrow: true,
    headline: {
      mode: 'headline_lovercase-main headline_break-tablet-words headline_hero headline_hide-line',
      title: 'Akkorde Präsidentenpalast',
      h1: true,
      headline: 'Das Rundum-Sorglos-Paket für <br/> den kasachischen Präsidenten'
    }
  } %}
  {% include './partials/_hero.html' %}

  {% set hero = {
    mode: '',
    bg: 'img/hero/home-bg.jpeg',
    headline: {
      mode: 'headline_hero',
      title: 'Unser Versprechen',
      h1: true,
      titleSize: 'title_xl',
      headline: 'Bestellt <br/> Geliefert',
      btn: {
        title: 'Mehr erfahren',
        mode: 'btn-simple_vertical js-hero-scroll-btn'
      }
    }
  } %}
  {% include './partials/_hero.html' %}

  
  {% set hero = {
    mode: '',
    bg: 'img/hero/home-bg.jpeg',
    headline: {
      mode: 'headline_hero headline_light',
      title: 'Unser Versprechen',
      h1: true,
      titleSize: 'title_xl',
      headline: 'Bestellt <br/> Geliefert',
      btn: {
        title: 'Mehr erfahren',
        mode: 'btn-simple_vertical js-hero-scroll-btn'
      }
    }
  } %}
  {% include './partials/_hero.html' %}


  {% set hero = {
    bg: 'img/hero/about-bg.jpeg',
    half: true,
    headline: {
      mode: 'headline_hero',
      title: 'Einer für alle, alle für einen',
      h1: true,
      titleSize: 'title_xl',
      headline: 'Zusammen <br/> Anpacken',
      btn: {
        title: 'Mehr erfahren',
        mode: 'btn-simple_vertical js-hero-scroll-btn '
      }
    }
  } %}
  {% include './partials/_hero.html' %}


  {% set hero = {
    mode: 'hero_special-dark hero_vertical-center',
    bg: 'img/huge-teaser/3.jpeg',
    bottomArrow: true,
    headline: {
      mode: 'headline_lovercase-main headline_break-tablet-words headline_hero headline_hide-line',
      title: 'Akkorde Präsidentenpalast',
      h1: true,
      headline: 'Das Rundum-Sorglos-Paket für <br/> den kasachischen Präsidenten'
    }
  } %}
  {% include './partials/_hero.html' %}

{% endblock %}
