---
title: home-news
scripts:
modules: ['hero', 'header', 'home-news']
hero_image: true


---
{% extends "layouts/_layout.html" %}

{% block content %}
  <div class="page-home">
    {% include './partials/_header.html' %}

    {% set hero = {
      mode: '',
      bg: 'img/hero/home-bg.jpeg',
      headline: {
        mode: 'headline_hero',
        title: 'Unser Versprechen',
        h1: true,
        titleSize: 'title_xl',
        headline: 'Bestellt <br/> Geliefert',
        btn: {
          title: 'Mehr erfahren',
          mode: 'btn-simple_vertical js-hero-scroll-btn'
        }
      }
    } %}
    {% include './partials/_hero.html' %}
    {% include './partials/_home-news.html' %}

    <section class="section">
      {% set headline = {
        title: 'independent section',
        h1: true,
        titleSize: 'title_xl',
        headline: 'Headline <br/> Separate section',
        btn: {
          title: 'Mehr erfahren',
          mode: ''
        }

      } %}
      {% include './partials/_headline.html' %}
    </section>
  </div>

{% endblock %}
