---
title: link-page
modules: ['header']
---
{% extends "layouts/_layout.html" %}


{% block content %}
{% include './partials/_header.html' %}
  <div class="wrap" style="padding-top: 200px">
    <div  class="m-container" style="  height: 100vh;  width: 100%; background: green" id="1">
      111111Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
    </div>
    <div  class="m-container" style="  height: 100vh;  width: 100%; background: blue" id="2">
     22222Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
    </div>
    <div  class="m-container" style="  height: 100vh;  width: 100%; background: yellow" id="33434">
      this is block for scroll on other page
     </div>
  </div>

{% endblock %}
