---
title: Offers

modules: ['offers']
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {% set headline = {
    title: 'Freie Stellen',
    headline: 'Jetzt <br /> Bewerben'
  } %}

  {% set data = {
    boxes: [
      {
        title: 'Wir suchen Dich',
        headline: 'Vertriebsmitarbeiter / in Bauelemente <br/> (m/w/d)',
        subheadline: 'Ab sofort',
        text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Tempor invidunt ut labore et dolore magna aliquyam erat.',
        btn: 'Mehr erfahren',
        mode: ''
      },
      {
        title: 'Wir suchen Dich',
        headline: 'Innendiest Mitarbeiter <br/> (m/w/d)',
        subheadline: 'Ab sofort',
        text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        btn: 'Mehr erfahren',
        mode: 'col-20-push-2 col-20-md-8 col-20-md-push-3  col-sm-push-0'
      },
      {
        title: 'Kein passender Job dabei?',
        headline: 'Initivativ <br/> Bewerbung',
        subheadline: 'Wir freuen uns auf Ihre Bewerbung. Lorem ipsum',
        text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod Tempor invidunt ut labore et dolore magna aliquyam erat.',
        btn: 'Mehr erfahren',
        mode: ''
      }
    ]
  } %}

  <div class="section">
    {% include './partials/_offers.html' %}
  </div>

{% endblock %}
