---
title: teaser gallery
scripts: ['teaser-gallery']
modules: ['teaser-gallery']

---

{% set simpleGallery = {
  headline: {
    title: 'Mehr machen',
    mode: 'teaser-gallery__headline',
    headline: 'Wir tragen <br/> Verantwortung'
  },
  slides: [
    {
      headline: {
        mode: 'headline_hide-line',
        rowInner: true,
        colClasses: 'col-20-16 col-20-push-2 col-sm-11 col-sm-push-1',
        title: 'Lernen für mehr Chancen',
        titleSize: 'title_md',
        headline: 'Die Schüler der <br/> Tigerschule',
        btn: {
          title: 'Mehr erfahren'
        }
      },
      src: 'img/simple-gallery/2.jpeg',
      alt: 'alt'
    },  {
      headline: {
        mode: 'headline_hide-line headline_light',
        rowInner: true,
        colClasses: 'col-20-16 col-20-push-2 col-sm-11 col-sm-push-1',
        title: 'Lernen für mehr Chancen',
        titleSize: 'title_md',
        headline: 'Die Schüler der <br/> Tigerschule',
        btn: {
          title: 'Mehr erfahren'
        }
      },
      src: 'img/simple-gallery/2.jpeg',
      alt: 'alt'
    },  {
      headline: {
        mode: 'headline_hide-line',
        rowInner: true,
        colClasses: 'col-20-16 col-20-push-2 col-sm-11 col-sm-push-1',
        title: 'Lernen für mehr Chancen',
        titleSize: 'title_md',
        headline: 'Die Schüler der <br/> Tigerschule',
        btn: {
          title: 'Mehr erfahren'
        }
      },
      src: 'img/simple-gallery/2.jpeg',
      alt: 'alt'
    }
  ]
}%}
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include './partials/_teaser-gallery.html' %}
{% endblock %}
