---
title: Titles
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 30px;
  }

  .container {
    margin: 50px 0;
  }
</style>

<section class="section">
  <div class="m-container">
    <div class="row">
      <div class="col col-24">
        <div class="block"></div>
      </div>
    </div>
  </div>
  <div class="m-container">
    <h2 class="title title_counter">123</h2>
    <h1 class="title title_xl">title_xl Guttenberg </h1>
    <h2 class="title title_l">title_l Guttenberg </h2>
    <h3 class="title title_md">title_md Guttenberg </h3>
    <h4 class="title title_m">title_m Guttenberg </h4>
    <h5 class="title title_sm">title_sm Guttenberg </h5>
    <h5 class="title title_s">title_s Guttenberg </h5>
    <h5 class="title title_xs">title_xs Guttenberg </h5>
    <h5 class="title title_x">title_x Guttenberg </h5>

    <div class="section" style="background-color: #FF0000; padding-left: 50px; padding-right: 50px;">
      <h2 class="title title_light title_counter">123</h2>
      <h1 class="title title_light title_xl">title_xl Guttenberg </h1>
      <h2 class="title title_light title_l">title_l Guttenberg </h2>
      <h3 class="title title_light title_md">title_md Guttenberg </h3>
      <h4 class="title title_light title_m">title_m Guttenberg </h4>
      <h5 class="title title_light title_sm">title_sm Guttenberg </h5>
      <h5 class="title title_light title_s">title_s Guttenberg </h5>
      <h5 class="title title_light title_xs">title_xs Guttenberg </h5>
      <h5 class="title title_light title_x">title_x Guttenberg </h5>
    </div>
  </div>
</section>
<section class="section">
  <div class="m-container">
    <div class="container" style="max-width: 1050px;">
       <div class="textual textual_xxl">
        <p>
          NEW textual_xxl Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner
        </p>
      </div> 
      <div class="textual textual_xl">
        <p>
          NEW textual_xl Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner
        </p>
      </div>
      <div class="textual textual_x">
        <p>
          NEW textual_x Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner
        </p>
      </div>
      <div class="textual textual_l">
        <p>
          NEW textual_l Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner
        </p>
      </div>
      <div class="textual textual_md">
        <p>
          NEW textual_md Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner
        </p>
      </div>
      <div class="textual textual_sm">
        <p>
          NEW textual_sm Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner
        </p>
      </div>
    </div>
  </div>
</section>



<section class="section">
  <div class="m-container">
    <h3 class="title title_h3">OLD Text variations</h3>

    <div class="container" style="max-width: 1050px;">
      <div class="textual textual_size-xxl textual_line" style="margin: 50px">
        <p>
          NEW textual_size-xxl Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner, am Empfang, im Büro oder am Telefon: Bei uns treffen Sie auf Spezialisten
        </p>
      </div>
    </div>

    <div class="container" style="max-width: 1050px;">
      <div class="textual textual_size-xl">
        <p>
          Egal, ob im Lager, auf dem Fahrersitz vom 12-Tonner, am Empfang, im Büro oder am Telefon: Bei uns treffen Sie auf Spezialisten
        </p>
      </div>
    </div>


    <div class="container" style="max-width: 1050px;">
      <div class="textual textual_size-lg">
        <p>
          Jörg von Guttenberg
        </p>
      </div>
    </div>

    <div class="container" style="max-width: 1050px;">
      <div class="textual textual_size-md">
        <p>
          Jörg von Guttenberg
        </p>
      </div>
    </div>

    <div class="container" style="max-width: 1050px;">
      <div class="textual">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>

    <div class="container" style="max-width: 1050px;">
      <div class="textual textual_size-sm">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>

    <div class="container" style="max-width: 1050px;">
      <div class="textual textual_size-xs">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>

    <div class="container" style="max-width: 1050px;">
      <div class="textual textual_size-xxs">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>

    <div style="background-color: #640C00; padding: 50px; margin-bottom: 50px;">
      <div class="container" style="max-width: 1050px; margin-top: 0px;">
        <div class="textual textual_size-sm textual_color-light">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </div>
      </div>

      <div class="container" style="max-width: 1050px;">
        <div class="textual textual_size-xs">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </div>
      </div>

      <div class="container" style="max-width: 1050px; margin-bottom: 0px;">
        <div class="textual textual_size-xxs textual_color-red">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" style="max-width: 1050px; padding-left: 50px">
  <div class="textual textual_std">
    <p>
      STD Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
  </div>
</div>
<div class="container" style="max-width: 1050px; padding-left: 50px">
  <div class="textual textual_std textual_std-lg">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
  </div>
</div>
<div class="container" style="max-width: 1050px; padding-left: 50px">
  <div class="textual textual_std textual_std-xl">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
  </div>
</div>

<div class="container" style="max-width: 1050px;  padding-left: 50px">
  <div class="list">
    <ul>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
    </ul>
  </div>
</div>

<div class="container" style="max-width: 1050px;  padding-left: 50px">
  <div class="list list_size-big">
    <ul>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
    </ul>
  </div>
</div>


<div class="container" style="max-width: 1050px;  padding: 50px; background-color: #640C00">
  <div class="list list_color-light" style="margin-bottom: 50px">
    <ul>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
    </ul>
  </div>
  <div class="list list_color-red">
    <ul>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, quae?</li>
    </ul>
  </div>

</div>




<section class="section">
  <div class="container" style="max-width: 1050px;  padding-left: 50px">
    <div class="textual textual_size-lg">
      <a href="#" class="link">simple-link</a>
    </div>
  </div>
</section>

{% endblock %}
