.about
  $this: &
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  // background-attachment: fixed
  overflow: hidden
  color: $red
  // +is-ie
  //   background-attachment: scroll
  // +sm
  //   background-attachment: scroll
  &__quote
    margin-bottom: 22px

  &__textual
    letter-spacing: -0.1px
    // margin-bottom: 22px
    margin-top: 40px
    +sm
      margin-top: 20px

  &__buttons
    font-size: 0px
    margin: 50px -15px
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: flex-start

  &__btn
    margin-bottom: 10px

    // &:not(:last-of-type)
    margin-right: 15px
    margin-left: 15px


  &__label
    position: relative
    width: 100%
    height: 0
    padding-bottom: 100%

    &-inner
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: $red
      border-radius: 50%
      overflow: hidden
      display: flex
      align-items: center
      justify-content: center
      transform-origin: 50% 50%
      transform: rotate(15deg)

    &-text
      font-size: 18px
      letter-spacing: -0.01px
      +bold
      color: #fff
      span
        display: block
  &__vertical-row
    align-items: center

  &_text-color
    &-light

      #{$this}__quote,
      #{$this}__textual
        color: #fff
  &_label
