.accordions-wrap
  // margin-bottom: -40px
  .accordion
    $this: &
    &:last-of-type
      .accordion__content
        margin-bottom: 0
.accordion
  $this: &
  border-bottom: 1px solid $red
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    padding:  40px 0
    // margin-bottom: 44px

    transition: border-color $ease
    cursor: pointer
    +lg
      padding: 30px 0
    +md
      padding: 20px 0
    +sm
      padding: 15px 0
    // +lg
    //   margin-bottom: 42px

    // +sm
    //   margin-bottom: 44px
  &__title
    padding-right: 10px
    +sm
      font-size: 16px
  &__btn
    position: relative
    cursor: pointer
    font-size: 0

    svg
      font-size: 17px

  &__content
    position: relative

    display: none
    padding-bottom: 49px
    // padding-top: 44px

    +lg
      padding-bottom: 16px
      // padding-top: 42px

    +md
      padding-bottom: 30px

    +sm
      padding-bottom: 20px
      // padding-top: 44px

  &_job
    border: none
    +sm
      border-bottom: 1px solid $red
    #{$this}__head
      padding: 0px 0
      +sm
        display: block
        padding: 14px 0
    #{$this}__btn
      flex-shrink: 0
      +sm
        margin-left: auto
        display: flex
    #{$this}__content
      padding-bottom: 79px
      +lg
        padding-bottom: 61px
      +sm
        padding-top: 39px
        padding-bottom: 48px

  &.is-active
    #{$this}__content
      display: block
