.cases
  &__pagination
    position: static
    margin-top: 15px

  .swiper-wrapper
    transition-timing-function: $easing

  .swiper-slide
    width: 769px
    height: 800px


    +rmin(1920)
      width: 40vw
      height: 42vw

    +lg
        width: 680px
        height: 707px

    +md
      width: 690px
      height: 707px

    +sm
      width: 100%
      height: 100vw


  .is-many-slides
    .swiper-slide-prev, .swiper-slide-next
      cursor: pointer

.cases-mob-modal
  position: fixed
  display: none
  left: 0
  top: 0
  z-index: 200
  width: 100%
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
  scroll-behavior: smooth
  background: #fff
  +gpu

  .cases-block
    &__drop
      position: static
      transform: none
      height: auto
      padding: 25px 37px 60px
      opacity: 1
      &-head
        position: relative
        display: block
      &-head-text
        padding-right: 55px

      &-inner
        transition: none
        opacity: 1
    &__title
      width: 100%
      white-space: pre-wrap
      word-wrap: break-word
    &__btn
      position: absolute
      z-index: 1
      right: 0
      top: 0
      &.controls
        display: block
        flex-flow: 0
        flex-shrink: 0

    &__cols
      display: block
      padding-top: 0

    &__col
      width: 100%
      padding-top: 50px

    &__facts
      display: block

    &__fact
      width: 100%
      margin: 0 0 20px
      &:nth-of-type(1), &:nth-of-type(2)
        margin: 0 0 20px
      &:last-of-type
        margin: 0

  &.is-active
    +sm
      display: block

.cases-block
  $this: &
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  font-size: 0
  &:before, &:after
    content: ''
    position: absolute
    left: 0
    width: 100%
  &:before
    top: 0
    height: 100%
    z-index: 3
    background: rgba(#000, 0.25)
    transition: opacity 0.4s linear
    +sm
      display: none
  &:after
    z-index: 1
    height: 50%
    bottom: 0
    // background: rgba(#000, 0.25)
    background: linear-gradient(to top,  rgba(#000, 0.75) 0% , rgba(#000, 0) 100% )

    +sm
      height: 75%


  &__inner
    height: 100%
    display: flex
    justify-content: flex-end
    flex-direction: column

  &__img
    position: absolute
    z-index: 0
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover

  &__head
    margin-bottom: 18px

    +lg
      margin-bottom: 11px

  &__title
    +r(480)
      font-size: 26px

  &__btn-wrap
    position: relative
    padding: 26px 30px 30px 0
    z-index: 2
    text-align: right

  &__drop
    position: absolute
    z-index: 3
    top: 100%
    left: 0
    width: 100%
    transform: translateY(-50%)
    height: 526px
    padding: 32px 66px 75px
    box-sizing: border-box
    transition: transform 0.5s $easing, background-color 0.5s $easing
    background: rgba(#fff, 0)

    +lg
      transform: translateY(-43.5%)
      padding: 35px 47px 75px

    +md
      padding: 35px 35px 75px

    +sm
      transition: none

    &-head
      display: flex
      justify-content: space-between

      #{$this}__btn
        display: none

      &-text
        flex-grow: 1
        padding-right: 15px

    &-wrapper

    &-inner
      opacity: 0
      transition: opacity 0.5s $easing
      +gpu

      +sm
        transition: none

    .textual
      &_size-xs
        +lg
          font-size: 12px

        +sm
          font-size: 16px

  &__cols
    padding-top: 24px
    display: flex
    justify-content: space-between

  &__col
    width: calc(50% - 35px)

    +lg
      width: calc(50% - 25px)

    &-title
      margin-bottom: 10px
      border-bottom: 1px solid $red

      +sm
        font-size: 16px

    .textual
      &_size-xs
        +sm
          line-height: 1.3

  &__facts-list
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    #{$this}__fact
      &:nth-of-type(1), &:nth-of-type(2)
        margin-top: 0
  &__fact
    width: percentage(120/295)
    margin-top: 36px

    +lg
      margin-top: 22px

    .title
      margin-bottom: 2px
  &--white-text-overlay
    &:after
      // background: rgba(#fff, 0.25)
      background: linear-gradient(to top,  rgba(#fff, 0.75) 0% , rgba(#fff, 0) 100% )
  &.is-active

    +smmin
      #{$this}__drop
        transform: translateY(-100%)
        background: rgba(#fff, 1)

        &-inner
          opacity: 1


      #{$this}__btn
        svg
          transform: rotate(-135deg)

  .swiper-slide-active &
    &:before
      transition: opacity 0.4s $easing
      opacity: 0

    #{$this}__btn-wrap
      z-index: 5
