.combo
  &__title
    margin-bottom: 25px

  &__headline
    margin-bottom: 80px
    +lg
      margin-bottom: 60px
    +sm
      margin-bottom: 40px

  &__image
    width: 100%
    +aspect-ratio(505/640)
    // +lg
    //   height: 429px

    +md
      margin-bottom: 30px
      // height: auto
      +aspect-ratio(839/557)

    img
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      display: block
      object-fit: cover
  
  &__text 
    +md
      order: 1
  &__preview
    +md
      order: 0
  // &__text,
  // &__preview
  //   display: flex

  // &__textual,
  // &__image
  //   align-self: center

