.combo-text
  &__inner
    .textual
      p
        &:not(:last-of-type)
          margin-bottom: 27px
          
      strong
        font-weight: normal
        +bold

  &__list-wrapper
    margin-top: 90px

    +sm
      margin-top: 72px

  &__head
    border-bottom: 1px solid $red
    margin-bottom: 12px

    +lg
       padding-bottom: 1px

    +sm
      margin-bottom: 9px

    .textual
      +sm
        font-size: 12px
        line-height: 1.4

  &__btns-wrapper
    margin-top: 45px
    font-size: 0

    +lg
      margin-top: 28px

    +sm
      margin-bottom: 45px


  .btn
    &:not(:last-of-type)
      margin-right: 57px
      +sm
        // margin-right: 0
        margin-bottom: 30px