.downloads
  position: relative
  overflow: hidden

  &__tabs-nav
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 60px
    border-bottom: 1px solid $red
    margin-bottom: 61px
    +xl
      gap: 50px
    +lg
      // border-bottom: 2px solid rgba($red, 0.5)
      margin-bottom: 50px
    +phone
      display: none

    button
      position: relative
      display: inline-block
      vertical-align: top
      // font-size: 32px
      font-size: 18px
      line-height: 1
      letter-spacing: 0.1em
      text-transform: uppercase
      padding-bottom: 16px
      color: $red
      +reg
      +xl
        // font-size: 24px
      +lg
        font-size: 16px
      +md

        // font-size: 20px
      &:after
        content: ''
        position: absolute
        width: 100%
        left: 0
        bottom: 0px
        height: 6px
        background: $red
        transition: opacity $ease
        opacity: 0
        +lg
          height: 4px
          // bottom: -3px
      &.is-active
        &:after
          opacity: 1
      +hover
        &:after
          opacity: 1

  &__selects
    position: relative
    z-index:  5
    margin-bottom: 60px
    display: grid
    gap: 53px
    grid-template-columns: 1fr 1fr 1fr 1fr
    +xx
      gap: 30px
    +lg
      gap: 50px
      row-gap: 40px
      grid-template-columns: 1fr 1fr
      margin-bottom: 50px
    +sm
      display: block
      margin-bottom: 38px
  &__select
    position: relative
    &:not(:last-of-type)
      +sm
        margin-bottom: 27px
    select
      +phone
        display: block
        width: 100%
        height: 40px
        background: $white
        border: 1px solid $red
        color: $red
        padding: 8px 16px
        border-radius: 0
  &__reset-filter
    text-align: center
    margin-bottom: 52px
    display: none
    +lg
      margin-bottom: 42px
    +md
      margin-bottom: 43px
    +sm
      margin-bottom: 32px
    &.is-active
      display: block
  &__isotope
    position: relative
    z-index: 1
    border-bottom: 1px solid $red
    &.hide-border
      border-color: transparent
  &__content-inner
    position: relative
    min-height: 100px
  &__no-results
    position: absolute
    left: 0
    top: 0px
    width: 100%
    text-align: center
    pointer-events: none
    opacity: 0
    z-index: 0
    transition: opacity $ease
    &.is-active
      opacity: 1
      pointer-events: all
      transition: opacity $ease
      // display: block
  .accordions-wrap
    position: relative
  .accordion
    border: none
    opacity: 0
    pointer-events:none

    position: absolute
    left: 0
    top: 0
    width: 100%
    z-index: -1
    +phone
      position: relative
      opacity: 1
      z-index: 1

    &__head
      display: none
      +phone
        display: flex
        border-bottom: 2px solid $red
    &__title
      font-size: 20px
      text-transform: uppercase
      letter-spacing: 0.1em
      +reg
    &__content
      padding-bottom: 0
      border: none
      display: block!important
      +phone
        // display: block!important
        height: 0
        overflow: hidden
        transition: height $easing 0.4s
        // opacity: 0
      .download
        // &:first-of-type
        //   border-top: 1px solid $red
    &__content-wrapper
      +phone
        position: relative
        padding-top: 40px
        padding-bottom: 32px
    &.is-active
      transition: opacity $ease
      opacity: 1
      pointer-events: all
      position: relative
      z-index: 1
    &:not(.is-active)
      .accordion__content
      .accordion__content-wrapper
        position: absolute
        left: 0
        top: 0
        width: 100%
    &.is-active.is-load
      .accordion__content
        +phone
          height: var(--h)
          // display: block!important
          // height: auto
          // opacity: 1
      .accordion__content-wrapper


.download
  $this: &
  position: relative
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  border-top: 1px solid $red
  padding: 44px 0
  background: $white
  transition: background $ease
  padding-right: 10px
  transition: none!important
  +hover
    background: rgba($l-red, 0.3)
  +lg
    padding: 36px 0
  +md
    padding: 24px 0
  +sm
    display: block
    padding: 16px 0 18px

  &__name
    width: 762px
    +lg
      width: 60%
    +md
      width: 55%
    +sm
      width: 100%
      font-size: 16px
      margin-bottom: 10px
  &__size
    width: 130px
    font-size: 18px
    line-height: 1
    text-align: right
    +lg
      width: 19.4%
      font-size: 16px
    +sm
      width: 100%
      font-size: 12px
      text-align: left
      margin-bottom: 15px
  &__btn
    position: absolute
    right: 0
    top: 50%
    transform: translate(0, -50%)
    width: 20px
    flex-shrink: 0
    flex-grow: 0
    +sm
      position: relative
      top: 0
      transform: none
      display: flex
      align-items: center
      justify-content: flex-start
      width: auto

    span
      display: none
      margin-left: 10px
      position: relative
      font-size: 12px
      line-height: 1
      +reg-mono
      text-transform: uppercase
      letter-spacing: 0.1em
      color: $red
      &:after
        content: ''
        position: absolute
        left: 0
        width: 100%
        height: 1px
        background: $red
        bottom: -2px
      +sm
        display: block

    svg
      font-size: 40px
      fill: $red
      +sm
        font-size: 30px




