.expertise
  &__boxes
    +md
      justify-content: space-between

  &__box
    margin-bottom: 75px

    +mdmin
      margin-right: calc(100% / 20 + 0px)

      &:nth-of-type(3n)
        margin-right: 0

    +md
        margin-bottom: 62px

    +sm
      margin-bottom: 35px

  &__box-headline
    font-size: 20px
    letter-spacing: 0.18px
    line-height: 1.2
    margin-bottom: 10px
    +bold

  &__box-text
    font-size: 14px
    line-height: 1.4
    letter-spacing: 0.4px
    +reg-mono

    +lg
      font-size: 16px
      line-height: 1.375
      letter-spacing: 0.46px

    +sm
      font-size: 18px
      letter-spacing: 0.51px
      line-height: 1.3

  &__line
    display: inline-block
    padding: 0 10px
