.footer
  $this: &
  background: $red

  padding-bottom: 40px
  color: $white
  +lg
    padding-bottom: 30px
  &__soc
    display: none
    background: $white
    padding: 30px 38px
    // margin-bottom: 40px
    +md
      display: block
  &__headline
    margin-bottom: 147px
    padding-top: 80px
    +xl
      margin-bottom: 100px
    +lg
      padding-top: 60px
    +md
      padding-top: 40px
    +sm
      margin-bottom: 79px
  &__title
    max-width: 80%
    text-transform: uppercase
    +bold
    font-size: 32px
    line-height: 1
    +grid
      max-width: 100%
      padding-right: 5px
    +xl
      max-width: 200px
      margin-bottom: 50px
    +lg
      font-size: 24px
    +sm
      margin-bottom: 0px
      font-size: 20px
  &__cols
    margin-bottom: 85px
    +xl
      margin-bottom: 69px
    +md
      margin-bottom: 40px
    .row
      +sm
        gap: 38px
  &__block-item
    padding-top: 4px
    +grid
      padding-top: 3px
    +xl
      padding-top: 0
    +md
      margin-bottom: 70px
    +sm
      margin-bottom: 40px
  &__block-list
    padding-top: 8px
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 10px
    row-gap: 37px
    +xl
      gap: 20px
      row-gap: 37px
    +sm
      padding-top: 0
      grid-template-columns: 1fr
      gap: 20px

  &__block-links
    display: flex
    flex-direction: column
    align-items: flex-start
  &__bottom-links
    display: flex
    a
      &:not(:last-of-type)
        margin-right: 25px
