.form
  $this: &
  position: relative
  overflow: hidden

  &__row
    display: flex
    position: relative

    &:not(:last-of-type)
      margin-bottom: 15px

      +sm
        margin-bottom: 10px

  &__message
    opacity: 0
    position: absolute
    transition: opacity $easing 0.3s
    z-index: -1000

  &__textual
    max-width: 450px

  &.is-sent
    #{$this}__message
      opacity: 1
      position: relative
      z-index: 1

    #{$this}__message ~ #{$this}__in
      opacity: 0
      position: absolute
      visibility: hidden

  input
    border-radius: 0
