.gallery
  .headline 
    margin-bottom: 120px
    +lg
      margin-bottom: 100px
    +md
      margin-bottom: 80px
    +sm
      margin-bottom: 60px
  .swiper-slide
    +sm
      // width: auto
      margin-top: 0
    
    &_first 
      padding-left: 63px
      
      +sm
        padding-left: 30px

    &_xl
      width: calc(818px + 63px)

      +sm
        width: (400 * 100) / 67.25 + px
    &_lg

      +sm
        width: (400 * 100) / 66.25 + px

    &_l
      width: calc(582px + 63px)

      +sm
        width: (400 * 100) / 69.25 + px

    &_m
      width: calc(464px + 63px)

      +sm
        width: (400 * 100) / 64.3 + px

    &_sm
      width: calc(345px + 63px)

      +sm
        width: (400 * 100) / 134 + px

    &_xs
      width: calc(226px + 63px)
      +sm
        width: (400 * 100) / 150.2 + px
  
    &_mt

      &-30
        margin-top: 30px
      &-54
        margin-top: 54px
      &-63
        margin-top: 63px
      &-70
        margin-top: 70px
      &-103
        margin-top: 103px
      &-125
        margin-top: 125px
      &-170
        margin-top: 170px
      &-180
        margin-top: 180px
      &-195
        margin-top: 195px
      &-200
        margin-top: 200px
      &-268
        margin-top: 268px
      &-365
        margin-top: 365px
      &-375
        margin-top: 375px

  &_slide-text
    .swiper-slide
      &_xl
        width: calc(818px + 100px)
      &_lg
        width: calc(640px + 100px)
      &_l
        width: calc(582px + 100px)
      &_m
        width: calc(464px + 100px)
      &_sm
        width: calc(345px + 100px)
      &_xs
        width: calc(226px + 100px)
    .gallery-item
      width: calc(100% - 100px)

      +sm
        width: calc(100% - 30px)

      &__inner
        overflow: visible


  .combo-block
    // fix order style includeing
    .combo-block__img-wrap
      +sm
        height: auto
        padding-bottom: 0
        img
          position: static
          height: 400px
          width: 100%
          max-width: 100%


.gallery-item
  $this: &
  position: relative
  width: calc(100% - 63px)
  font-size: 0

  +sm
    width: calc(100% - 30px)


  &__inner
    position: relative
    overflow: hidden
  
  &__img
  &__drop

    position: absolute
    z-index: 1
    width: 324px
    max-width: 100%
    min-height: 280px
    max-height: 100%
    padding: 38px 42px 82px 39px
    right: -3px
    bottom: -2px
    background: #fff
    box-sizing: border-box
    transition: transform 0.5s $easing, opacity 0.5s $easing
    transform: translateX(100%)
    opacity: 0

  &__title
    margin-bottom: 10px
  &__sub-title
  &__text
  &__btn
    position: absolute
    z-index: 2
    bottom: 20px
    right: 20px



  &.is-active
    #{$this}__btn
      svg
        transform: rotate(-135deg)

    #{$this}__drop
      transform: translateX(0)
      opacity: 1