.headline-section
  &_red
    background: $red
  &_grey
    background: rgba($grey, 0.3)
.headline
  $this: &
  // margin-bottom: 55px
  width: 100%
  color: $red

  &__topline
    margin-bottom: 55px
    +lg
      margin-bottom: 35px
    +sm
      margin-bottom: 20px

  &__title
    margin-bottom: 21px
    +lg
      margin-bottom: 15px
    +sm
      margin-bottom: 10px

  &__item
    word-wrap: break-word

    & + #{$this}__subheadline
      margin-top: 40px
      +lg
        margin-top: 30px
      +sm
        margin-top: 20px
    & + #{$this}__second-text
      margin-top: 40px
      +lg
        margin-top: 30px
      +sm
        margin-top: 20px
    & + #{$this}__btn
      margin-top: 40px
      +lg
        margin-top: 30px
      +sm
        margin-top: 30px
      +mobile-landscape
        margin-top: 10px
  &__subheadline
    & + #{$this}__btn
      margin-top: 60px
      +lg
        margin-top: 40px
      +sm
        margin-top: 30px
    & + #{$this}__second-text
      margin-top: 60px
      +lg
        margin-top: 40px
      +sm
        margin-top: 30px
  &__second-text
    & + #{$this}__btn
      margin-top: 75px
      +lg
        margin-top: 40px
      +sm
        margin-top: 30px
    strong
      font-weight: normal
      +bold
  &__btn
    // margin-top: 60px
    // +lg
    //   margin-top: 40px
    // +sm
    //   margin-top: 30px
  &_hero
    #{$this}__title
      margin-bottom: 25px
      +lg
        margin-bottom: 20px
      +sm
        margin-bottom: 10px
      +mobile-landscape
        margin-bottom: 10px
    #{$this}__item
      +mobile-landscape
        font-size: 45px

  &_light
    color: $white
    .textual
      color: $white
  &_spec-styles
    margin-bottom: 16px
    +sm
      margin-bottom: 8px

    & + .about__textual
      margin-bottom: 55px
      font-size: 22px
      line-height: 1.2
      font-weight: normal
      letter-spacing: 0.11px
      +bold
  &_inner
    .m-container
      padding: 0!important
  &_hide-line
    .title_line-offscreen
      &:before
        display: none
  &_hero
    #{$this}__item
      & + #{$this}__subheadline
        margin-top: 80px
        +lg
          margin-top: 30px
        +sm
          margin-top: 20px
  &_lovercase-main
    #{$this}__item
      text-transform: none
  &_break-tablet-words
    #{$this}__item
      br
        +md
          display: none
