.hero
  $this: &

  position: relative
  overflow: hidden
  +fullheight
  &__bg-wrapper
    +coverdiv
    font-size: 0
    z-index: 0
    pointer-events: none
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba($black, var(--overlay-index))
      z-index: 1
    img
      position: relative
      z-index: 0
      width: 100%
      height: 100%
      object-fit: cover
    .m-container
      height: 100%
      +md
        padding: 0
  &__bg-inner
    position: relative
    width: calc(100vw - (((11.7/24) * 100%) + 10px))
    height: 95%
    left: calc(((9/24) * 100%) + 5px)
    +xxl
    width: 61vw
    +grid
      width: calc(100% - (((9/24) * 100%) + 4px) + (132px))
    +xx
      // width: calc(100% - (((9/24) * 100%) + 4px) + (32px))
      width: 62vw
    +xl
      width: calc(100% - (((9/24) * 100%) + 4px) + (32px))

    +md
      width: 100%
      left: 0
      height: 100%
  &__bg-video-wrapper
    background-color: blue
    +coverdiv
    video
      width: 100%
      height: 100%
      object-fit: cover
  &__container
    position: relative
    z-index: 1
    height: 100%
  &__inner
    position: relative
    height: 100%
    display: flex
    align-items: flex-end
    padding-bottom: 83px
    +grid
      padding-bottom: 68px
    +lg
      padding-bottom: 50px
    +md
      padding-bottom: 22px
    +sm
      padding-bottom: 0px
    +mobile-landscape
      padding-bottom: 0
    +lgmin
      +rh(700)
        padding-bottom: 0
  &__bottom-arrow-btn
    position: absolute
    left: 50%
    bottom: 50px
    transform: translate(-50%, 0)
    z-index: 1
    svg
      width: 50px
      height: 30px
      fill: $red
      transition: fill $ease
    +hover
      svg
        fill: $burgundy
  .headline
    margin-bottom: 0
    position: relative
    z-index: 1
  &_full
    &.section
      +mobile-landscape
        padding-bottom: 20px
    +is-home
      height: 95vh
      height: calc(var(--vh, 1vh) * 95)
      +lg
        +fullheight
  &_half
    &.section
      +md
        padding-top: 0
    +md
      // height: auto
      +minfullheight
    +sm
      min-height: 1px
    #{$this}__inner
      +md
        padding-bottom: 0
    #{$this}__bg-wrapper
      &::after
        display: none

      +md
        position: relative
        height: 630px
        margin-bottom: 71px
      +sm
        margin-bottom: 40px
        height: 59.8vh
        height: calc(var(--vh, 1vh) * 59.8)
        min-height: 340px
    #{$this}__bg-inner
      &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: rgba($black, var(--overlay-index))
        z-index: 1

  &_vertical-center
    #{$this}__inner
      align-items: center
      padding-bottom: 0

  &_video
    .plyr
      &__controls
        display: none!important
      &__control
        display: none!important
