.hero-image
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  // background-attachment: fixed
  min-height: 490px
  // +is-ie
  //   background-attachment: scroll
  +md
    min-height: 470px

  +sm
    // min-height: 450px
    min-height: 340px
    // background-attachment: scroll

