.huge-teaser
  $this: &
  position: relative
  +fullheight

  +sm
    height: 576px

  // +hover
  //   #{$this}__content
  //     opacity: 1
  //   #{$this}__img
  //     &:before
  //       opacity: 1
  //     &:after
  //         opacity: 0
  // +is-touch
  //   #{$this}__content
  //     opacity: 1
  //   #{$this}__img
  //     &:before
  //       opacity: 1
  //     &:after
  //       opacity: 0
  &__content
    position: relative
    z-index: 1
    height: 100%
    display: flex
    align-items: center
    transition: opacity $ease
    // opacity: 0
  &__img
    position: absolute
    +coverdiv
    z-index: 0
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba($black, var(--overlay-index))
      z-index: 1
      transition: opacity $ease

    img
      display: block
      position: relative
      z-index: 0
      width: 100%
      height: 100%
      object-fit: cover

  .scroll-top-wrapper
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    z-index: 1
  & + .scroll-top-wrapper
    display: none
    // margin-top: -105px
    // position: relative
    // z-index: 1
