.image-with-title-section
  &_pink 
    background-color: rgba($red, 0.05)
  &_grey
    background-color: rgba($grey, 0.3)
  &_red
    background-color: $red
    color: $white

  &__title
    margin-bottom: 24px

    +sm
      margin-bottom: 12px

  .image-container
    width: 100%
    display: flex
    justify-content: center

    img
      display: block
      width: 100%
      object-fit: contain
      max-width: 100%
