.image-section
  &_pink 
    background-color: rgba($red, 0.05)
  &_grey
    background-color: rgba($grey, 0.3)
  &_red
    background-color: $red
    color: $white

  &__inner
    margin: 0 auto

    &.fixed-ratio
      aspect-ratio: 1278/720
      +lg
        aspect-ratio: 790/450
      +md
        aspect-ratio: 590/340
      +sm
        aspect-ratio: 294/165
  
  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    max-width: 100%
