.interview
  .interview-block
    &:last-of-type
      margin-bottom: 0

.interview-block
  margin-bottom: 76px

  +lg
    margin-bottom: 60px

  +sm
    margin-bottom: 40px

  &__question
    margin-bottom: 42px

    +lg
      margin-bottom: 28px
    
    +sm
      margin-bottom: 22px
      
  &__answer
    p
      &:not(:last-of-type)
        margin-bottom: 0.65em