.job-listing 
  $this: &
  background: rgba($grey, 0.3)
  &__headline
    margin-bottom: 80px
    +lg
      margin-bottom: 60px
    +sm
      margin-bottom: 40px
  &__main-head
    display: flex
    justify-content: space-between


  &__bottom-links
    margin-top: 80px
    display: flex
    align-items: center
    justify-content: space-between
    +lg
      margin-top: 60px
    +sm
      margin-top: 34px
      display: block
    & > div
      +sm
        &:not(:last-of-type)
          margin-bottom: 33px
  .accordion 
   
    &:first-of-type
      +sm
        border-top: 1px solid $red

      .job-listing-group_inner-head 
        border-top: none
    &:last-of-type
      .job-listing-group_inner-head 
        border-bottom: 1px solid $red
        transition: border-color $ease
        +sm
          border: none
      &.is-open
        .job-listing-group_inner-head 
          border-bottom-color: rgba($red, 0)
    &__head
      .job-listing-group
        +sm
          margin-bottom: 25px
        &:last-of-type
          +sm
            margin-bottom: 0

.job-listing-group
  $group: &
  width: 300px
  padding-right: 10px
  +lg
    width: 170px
    flex-grow: 1
  +sm
    width: 100%

  &__inner
  &__mob-head
   display: none
   letter-spacing: 0.1em
   font-size: 12px
   line-height: 1
   +reg-mono
   text-transform: uppercase
   margin-bottom: 10px
   +sm
    display: block
  &_big
    width: 638px
    justify-content: flex-start
    +lg
      width: 290px
    +sm
      width: 100%
    span
     white-space: nowrap
  &_head
    color: $red
    font-size: 18px
    line-height: 1
    letter-spacing: 0.1em
    text-transform: uppercase
    padding-bottom: 20px
    border-bottom: 6px solid $red
    +lg
      font-size: 16px
      padding-bottom: 15px
      border-bottom: 4px solid $red
    +sm
      display: none
  &_head, &_inner-head  
    &:not(:last-of-type) 
      margin-right: 18px
      +lg
        margin-right: 12px
      +md
        margin-right: 10px

  &_inner-head     
    padding: 25px 10px 25px 0
    border-top: 1px solid $red
    +lg
      padding: 17px 10px 17px 0
    +md
      padding: 18px 10px 18px 0
    +sm
      padding: 0
      border: none
    #{$group}__inner
      min-height: 70px
      display: flex
      align-items: center
      justify-content: space-between
      +lg
        min-height: 80px
      +md
        min-height: 96px
      +sm
        min-height: 1px
        display: block

    &-last
      padding-right: 0
      +lg
        padding-right: 0
      +md
        padding-right: 0
  .title
    +sm
      // font-size: 18px