.key-figures
  $this: &
  background-color: $d-red-full
  &.section 
    padding-bottom: 25px
    +xl
      padding-bottom: 50px
    +sm
      padding-bottom: 20px

  .headline
    margin-bottom: 26px

  &__boxes
    overflow: hidden
    justify-content: space-between
    color: $red

  &__box
    padding-bottom: 75px
    padding-top: 34px
    +xl
      padding-bottom: 50px
    +sm
      padding-bottom: 30px

    &-headline
      margin-bottom: 5px
      +sm
        margin-bottom: 2px

    &-subheadline
      margin-bottom: 41px
      +lg
        margin-bottom: 20px

      +sm
        margin-bottom: 5px

    &-text
      color: $white
  &__item
    position: relative

    &:before
      +pseudo
      background-color: $milanoRed
      bottom: 0
      content: none
      height: 1px
      left: 5px
      top: auto
      width: calc(100% * 3 + 100% / 6 * 2 - 10px)

      +lg
        width: calc(100% * 2 + 100% / 9 * 2 - 10px)

    +lgmin
      &:nth-child(3n + 1)
        &:before
          content: ''

      &:nth-last-child(-n + 3)
        padding-bottom: 0
        &:before
          content: none

    +lg
      &:nth-of-type(2n + 1)
        &:before
          content: ''

      &:nth-last-child(-n + 2)
        padding-bottom: 0
        &:before
          content: none

    +sm
      &:nth-of-type(2n + 1)
        &:before
          content: none

  .is-empty
    +lg
      display: none
  &_grey
    background: rgba($grey, 0.3)
    #{$this}__item
      &:before
        display: none
    #{$this}__box
      padding-bottom: 23px
      padding-top: 25px
      
      &-headline
        margin-bottom: 0
      &-subheadline
        margin-bottom: 38px
        +lg
          margin-bottom: 20px

        +sm
          margin-bottom: 5px
      &-text
        color: $red
    &.section
      padding-bottom: 77px
      +xl
        padding-bottom: 52px
      +sm
        padding-bottom: 27px

    &.key-figures_spec-spacing.section
      padding-bottom: 273px
      +lg
        padding-bottom: 193px
      +sm
        padding-bottom: 100px
      & + .combo2-section
        margin-top: -231px
        +lg
          margin-top: -151px
        +sm
          margin-top: -100px







