.locations
  $this: &
  // background: $grey
  background: rgba(217,217,217,.3)

  &__headline
    margin-bottom: 81px
    +lg
      margin-bottom: 60px
    +md
      margin-bottom: 40px
  &__head
    letter-spacing: 0.1em
    font-size: 18px
    line-height: 1
    +reg-mono
    text-transform: uppercase
    padding-bottom: 20px
    border-bottom: 6px solid $red

  &__content
    &-inner
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 78px
      row-gap: 50px
      +lg
        gap: 40px
        row-gap: 30px
      +sm
        row-gap: 0px
        grid-template-columns: 1fr
  &__group-item


  &__sub-title
    margin-bottom: 38px
    +lg
      margin-bottom: 25px

    +sm
      margin-bottom: 20px

  &__second-sub-title
    margin-bottom: 10px
    margin-top: 46px
    +lg
      margin-top: 0px
      margin-bottom: 4px
  &__text-wrap
    +sm
      margin-bottom: 60px

  &__group
    margin-bottom: 20px
    font-size: 18px

    +lg
      margin-bottom: 15px

    &_mb-big
      margin-bottom: 36px

  &__justify
    display: flex
    align-items: flex-start
    justify-content: space-between
    max-width: 244px
  &__table-item
    display: flex
    align-items: flex-start
    justify-content: flex-start
    span
      &:nth-of-type(1)
        width: 140px
        padding-right: 10px
        flex-shrink: 0
      &:nth-of-type(2)

  &__map-wrap
    position: relative
    height: 0
    padding-bottom: 66.5%
    margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
    .location-map
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      .mapboxgl-canvas
        height: 100%
        width: 100%
      .mapboxgl-compact
        display: none!important
      .mapboxgl-marker
        circle
          fill: #501105
      .mapboxgl-ctrl-compass
        display: none
    a
      position: absolute
      left: 0
      top: 0
      display: block
      width: 100%
      height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
  & + .scroll-top-wrapper
    padding-top: 100px
    background: rgba(217,217,217,.3)
    +lg
      padding-top: 75px
    +sm
      padding-top: 50px
.l-contacts
  margin-bottom: 20px
  &__head
    margin-bottom: 36px
    margin-top: 18px

  &__boxes
    display: grid
    gap: 100px
    grid-template-columns: 1fr 1fr 1fr
    +xl
      gap: 60px
    +lg
      gap: 40px
    +md
      grid-template-columns: 1fr 1fr
      gap: 60px
    +sm
      grid-template-columns: 1fr
  &__box
    &-img
      position: relative
      // height: 462px
      margin-bottom: 40px
      width: 100%
      padding-bottom: 133.5%
      height: 0
      +sm
      +lg
        margin-bottom: 20px
      +md
        margin-bottom: 15px
      +sm
        height: auto
        padding-bottom: 0
        margin-bottom: 17px
        // width: calc(((100%) / 11 ) * 5  - 4px )

      img
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 100%
        object-fit: cover

        +sm
          position: static

    &-name
      margin-bottom: 8px
      +lg
        // margin-bottom: 10px
      +md
        font-size: 20px

    &-career
      min-height: 50px

      +xx
        font-size: 14px
      +md
        font-size: 13px
      +sm
        min-height: 1px

    &-links
      align-items: flex-start
      display: flex
      flex-direction: column
      margin-top: 33px
      +xx
        margin-top: 15px
        font-size: 14px
      +md
        margin-top: 10px
        font-size: 13px
      +sm
        margin-top: 10px
