.logo-wall
  &__content-row
  &__item
    position: relative
    width: 100%
    height: 0
    padding-bottom: 100%
    margin-top: 47px

    +sm
      margin-top: 32px

    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: contain
  .accordion
    &__head
      position: relative
      justify-content: center
      margin-bottom: 0px
      padding: 34px 44px 34px    
      border: 0
      background: $red


    &__btn
      position: absolute
      right: 25px
      top: 50%
      transform: translateY(-50%)
      svg
        fill: #fff
    &__content
      padding-bottom: 64px
      border-bottom: 3px solid $red

      +lg
        padding-bottom: 67px

      +sm
        padding-bottom: 40px
  .m-container
    
    +sm
      padding: 0
      overflow: hidden
  .row 
    & > .col
      +sm
        padding: 0
    &_inner
      .col
        +sm
          padding: 0 16px
          width: 33.3333%