.news-section
  padding: 120px 0 90px
  overflow: hidden
  &__inner
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      top: 398px
      width: 100%
      height: 100%
      background-color: rgba($grey, 0.3)
      z-index: -1
      +xl
        top: 26vw
      +lg
        top: 30vw
      +sm
        top: 65vw
.news-grid
  position: relative

  &::after
    content: ''
    display: table
    clear: both
  &__load-more-wrapper
    margin-top: 110px
    text-align: center
    &.is-hidden
      display: none
  .news-item
    margin-top: 154px
    +sm
      margin-top: 100px
    &:nth-child(1)
      margin-top: 0
    &:nth-child(2)
      margin-top: 12.5%
      +sm
        margin-top: 100px
    &:nth-child(even)
      float: right
      +sm
        float: none
    &:nth-child(odd)
      float: left
      +sm
        float: none
.news-item
  position: relative
  width: calc(50% - 40px)
  +lg
    width: calc(50% - 30px)
  +md
    width: calc(50% - 20px)
  +sm
    width: 100%
  &__date
    margin-bottom: 18px
    +sm
      margin-bottom: 10px
  &__img
    position: relative
    width: 100%
    height: 0
    padding-top: 100%
    margin-bottom: 40px
    +sm
      margin-bottom: 24px
    img
      top: 0
      left: 0
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
  &__head
    margin-bottom: 18px
    +sm
      margin-bottom: 10px
  &__title
    margin-bottom: 36px
    +sm
      margin-bottom: 16px
  +hover
    .btn-simple__inner
      &::after
        transform: scaleX(1)
