.offers
  &__headline
    margin-bottom: 60px

  &__boxes
    // justify-content: space-between

  &__box
    align-items: flex-start
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: 120px


    +md
      margin-top: 71px
    &:nth-of-type(1)
      margin-top: 0

    &:nth-of-type(2)
      margin-top: 0
      +sm
        margin-top: 71px
    &-header
      max-width: 100%
      word-wrap: break-word

    &-subheadline
      font-size: 20px
      line-height: 1.2
      margin-bottom: 30px

    &-title
      margin-bottom: 10px

    &-headline
      margin-bottom: 20px

    &-subheadline
      +bold

    &-text
      font-size: 16px
      letter-spacing: 0.1px
      line-height: 1.375
      max-width: 300px
      +reg-mono

      +lg
        max-width: none
      +sm
        font-size: 18px
        letter-spacing: 0.12px
        line-height: 1.33


    &-btn
      margin-top: 30px

      +lg
        margin-top: 32px

      +md
        margin-top: 25px
