.quote-banner
  position: relative
  background-color: $red
  display: flex
  align-items: center
  justify-content: center
  min-height: 1080px

  +xxl
    min-height: 960px
  +xx
    min-height: 800px
  +xl
    min-height: 720px
  +lg
    min-height: 640px
  +sm
    min-height: 480px
  +sm
    min-height: 320px

  .background-image
    +coverdiv
    object-fit: cover
    z-index: 0

  .content
    position: relative
    z-index: 1

  .quote
    font-size: 84px
    line-height: 1.14
    text-align: center
    color: $white

    +xxl
      font-size: 80px // 1920
    +xx
      font-size: 72px // 1680
    +xl
      font-size: 64px // 1440
    +lg
      font-size: 40px // 1260
    +sm
      font-size: 32px // 719
