.services
  $this: &
  background-color: $d-red

  &__headline
    .headline
      margin-bottom: 80px
      +md
        margin-bottom: 60px
      +sm
        margin-bottom: 40px
  
  &__line
    border-top: 1px solid $red

    +sm
      display: none

  &__boxes
    padding-top: 40px
    margin:  0 0 0 -45px
    
    +md
      margin: 0

    +sm
      padding-top: 0
  


  &__box
    padding-left: 48px

    +md
      padding-left: 0

    &-title
      margin-bottom: 21px

    &-headline
      margin-bottom: 56px
      +lg
        margin-bottom: 30px
      +sm
        margin-bottom: 20px

    &-text
      // color: #fff
      margin-bottom: 40px
      max-width: 320px
      +lg
        margin-bottom: 20px
      +md
        max-width: 100%
  .swiper-pagination
    margin-top: 79px
    position: static
    +sm
      margin-top: 16px
    .pag-btn__line
      background: $white
      
  &_light
    background: none

    #{$this}__line
      display: none

    #{$this}__headline
      .headline
        margin-bottom: 136px
        +lg
          margin-bottom: 80px
        +md
          margin-bottom: 60px
        +sm
          margin-bottom: 40px

    #{$this}__boxes
      padding-top: 0

    .textual_color-light
      color: $red
    .swiper-pagination
      .pag-btn__line
        background: $redBerry


 

 