.simple-gallery
  $this: &
  display: block
  overflow: hidden
  &__headline
    margin-bottom: 95px
    +lg
      margin-bottom: 80px
    +sm
      margin-bottom: 30px
  &__slider
    position: relative
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 32%
      height: 1500px
      width: 110vw
      transform: translate(-50%)
      background: rgba($l-red, 0.5)
      z-index: 0
      pointer-events: none
    +hover
      #{$this}__content
        opacity: 1
      #{$this}__bg
        &:before
          opacity: 1
          background: $red
      .headline
        &__title, &__item
          color: $white
      .btn-simple
        &__inner
          color: $white
          &:after
            background: $white
        &__svg
          svg
            fill: $white
    +is-touch
      #{$this}__content
        opacity: 1
      #{$this}__bg
        &:before
          opacity: 1
  &__slide-inner
    font-size: 0
    position: relative
    width: 100%
    +aspect-ratio(1536/880)
    +grid
      +aspect-ratio(1406/805)
    +lg
      +aspect-ratio(950/545)
    +md
      +aspect-ratio(711/408)
    +sm
      // +aspect-ratio(294/169)
      +aspect-ratio(294/190)

  &__bg
    position: absolute
    z-index: 0
    left: 0
    top: 0
    width: 100%
    height: 100%
    &:before
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      display: block
      content: ''
      z-index: 2
      +coverdiv
      mix-blend-mode: multiply
      // background: $red
      background: rgba($black, var(--overlay-index))
      transition: opacity $ease, background $ease
      // opacity: 0
      +is-touch
        // background: rgba(#000, 0.2)
        background: rgba($black, var(--overlay-index))
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    position: absolute
    z-index: 1
    left: 0
    top: 0
    width: 100%
    height: 100%
    display: flex
    transition: opacity $ease
    align-items: center
    // opacity: 0
    .title_line-offscreen:before
      display: none
  &__pagination
    margin-top: 75px
    +lg
      margin-top: 75px
    // .pag-btn
    //    &:not(.swiper-pagination-bullet-active)
    //    .pag-btn__line
    //       background: $redBerry
  &--full-bg
    background: rgba($l-red, 0.5)
    #{$this}__slider
      &::after
        display: none
  &--no-bg
    #{$this}__slider
      &::after
        display: none
  .headline
    &__title, &__item
      transition: color $ease
  .btn-simple
    &__inner
      transition: color $ease
      &:after
        transition: transform $ease, background $ease
    &__svg
      svg
        transition: fill $ease

