.downloads .downloads__selects .downloads__select:nth-child(4) {
    display: none;
}



/* __________ Headline __________ */

.headline-section .headline__second-text a {
        border-bottom: 1px solid currentColor;
        padding-bottom: .2em;
}

.headline-section .textual ul:not(:last-child) {
    margin-bottom: 1em;
}

.headline-section .textual p:not(:last-child) {
    margin-bottom: 1em;
}