/* __________ General - Section Padding __________ */

.out section {
    padding: 100px 0;
}


/* __________ General – textual_size-xxs __________ */

.textual_size-xxs {
    font-size: 12px;
}

@media only screen and (max-width: 720px) {
    .textual_size-xxs {
        font-size: 16px;
    }
}


/* __________ General – Headline __________ */

.title_h2 {
    margin-left: -2px;
}

.title_line:before {
    left: -11px;
}


/* __________ Header - Tagline __________ */

.header__text {
    right: 100px;
}

@media only screen and (max-width: 1024px) {
    .header__text {
        right: 80px;
    }
}


/* __________ Header - Menu Items __________ */

@media only screen and (min-width: 1400px) {
    .nav__item:not(:last-of-type) {
        margin-right: 85px;
    }
}

@media only screen and (min-width: 1260px) and (max-width: 1399px) {
    .nav__item:not(:last-of-type) {
        margin-right: 65px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1259px) {
    .nav__item:not(:last-of-type) {
        margin-right: 30px;
    }
}

.header__nav .nav__lang .lang__item:last-child{
    margin-left: 7px;
}


/* __________ Homepage - Hero Section __________ */

body.home .out section:first-of-type {
    padding-top: 10px;
    padding-bottom: 25px;    
}


/* __________ Interview Page - Multi Element - Shifting Right __________ */

body.parent-karriere section.about .row .col.col-2.col-md-1.col-sm-1,
body.parent-leistungen section.about .row .col.col-2.col-md-1.col-sm-1,
body.parent-ueber-uns section.about .row .col.col-2.col-md-1.col-sm-1,
body.parent-career section.about .row .col.col-2.col-md-1.col-sm-1,
body.parent-services section.about .row .col.col-2.col-md-1.col-sm-1,
body.parent-about-us section.about .row .col.col-2.col-md-1.col-sm-1  {
    display: none;
}

body.parent-karriere section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
body.parent-leistungen section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
body.parent-ueber-uns section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
body.parent-career section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
body.parent-services section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
body.parent-about-us section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11 {
    margin-left: 25%;
    width: 54.16667%;
}

@media only screen and (max-width: 1259px) {
    body.parent-karriere section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-leistungen section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-ueber-uns section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-career section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-services section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-about-us section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11    {
        margin-left: 16.66667%;
    }
}
    
@media only screen and (max-width: 959px) {
    body.parent-karriere section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-leistungen section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-ueber-uns section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-career section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-services section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-about-us section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11 {
        margin-left: 16.66667%;
    }
    
    body.parent-karriere .title_line-offscreen:before,
    body.parent-leistungen .title_line-offscreen:before,
    body.parent-ueber-uns .title_line-offscreen:before,
    body.parent-career .title_line-offscreen:before,
    body.parent-services .title_line-offscreen:before,
    body.parent-about-us .title_line-offscreen:before {
        left: -13px;
        width: 73px;
    }
}

@media only screen and (max-width: 719px) {
    body.parent-karriere section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-leistungen section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-ueber-uns section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-career section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-services section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11,
    body.parent-about-us section.about .row .col.col-16.col-lg-20.col-md-22.col-sm-11 {
        margin-left: 8.33333%;
        width: 91.66667%;
    }
    
    body.parent-karriere section.about .title_line-offscreen:before,
    body.parent-leistungen section.about .title_line-offscreen:before,
    body.parent-ueber-uns section.about .title_line-offscreen:before,
    body.parent-career section.about .title_line-offscreen:before,
    body.parent-services section.about .title_line-offscreen:before,
    body.parent-about-us section.about .title_line-offscreen:before {
        left: -10px;
    }
}


/* __________ Job Offer - "Zurueck" Button __________ */

.job_offers-template-default .out section:first-of-type {
    padding: 0 0 25px 0;
}


/* __________ Multi-Component -  Element "Text" __________ */

section.about .about__textual {
    font-family: 'ReplicaStd','sans-serif';
    font-weight: 400;
}


/* __________ Multi-Component - Formats for Element "Text" __________ */

/* Link */

section.about .about__textual a, section.about .about__textual a :visited, section.about .about__textual a :link {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid currentColor;
    line-height: 0.85;
    text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

section.about .about__textual a :hover {
  color: #ff0000;
  text-decoration: none;
}

section.about .about__textual a :active {
  color: #ff0000;
  text-decoration: none;
}

section.about .about__textual strong {
    font-family: 'LinetoReplica-bold','sans-serif';
    font-weight: 400;   
}

/* Bullet List */

section.about .about__textual ul li {
    position: relative;
    padding-left: 17px;
    font-family: 'ReplicaStd','sans-serif';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .25px;
    line-height: 1.25;
    margin-bottom: 1em;
}

section.about .about__textual ul li:not(:last-of-type) {
    margin-bottom:25px;
}

section.about .about__textual ul li:before {
    content:'';
    position:absolute;
    left:0;
    top:11px;
    width:10px;
    height:1px;
    background:red;
}


/* __________ Contact __________ */

.contacts__box-career  {
    font-family: 'LinetoReplicaMono-reg','sans-serif';
}


/* __________ Combo 2 __________ */

@media only screen and (max-width: 1259px) {
    .textual_size-xs {
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: .37px;
    }
}


/* __________ Bullets&Buttons (Combo-Text) __________ */

.combo-text__head .textual_size-xs {
    font-size: 14px;
}

@media only screen and (max-width: 719px) {
    .combo-text__head .textual_size-xs {
        font-size: 16px;
    }
}


/* __________ Expandable Box (logo-wall) __________ */

.logo-wall__inner .textual_std {
    font-family: 'LinetoReplicaMono-reg','sans-serif';
}


/* __________ Footer __________ */

@media only screen and (max-width: 719px) {
    .footer__copy {
        background-color: red;
        padding-top: 96px;
        padding-bottom: 30px;
        margin-top: 0;
    }
}

