/* _____ ACF – Page Builder _____ */

.acf-flexible-content .layout .acf-fc-layout-handle {
    color: #ffffff;
    background-color: #33373c;
}

.acf-flexible-content .layout .acf-fc-layout-order {
    color: #444;
    font-weight: 700;
}

.acf-fields>.acf-tab-wrap {
    background: #f2f2f2;
}

.acf-flexible-content .layout .acf-fc-layout-controls .acf-icon.-collapse:hover {
    color: #72777c;
    background: white;
}