.btn
  $this: &
  border: 1px solid $red
  color: $red
  display: inline-block
  font-size: 12px
  +reg
  flex-shrink: 0
  letter-spacing: 0.21px
  line-height: 1em
  min-width: 180px
  position: relative
  text-align: center
  transition: border $easing 0.3s, color $easing 0.3s

  +hover
    color: #fff
    &:not(.btn_back):not(.btn_vertical)
      &:before
        transform: scaleX(1)

      #{$this}__counter
        background-color: #fff
        color: $red

      #{$this}__text
        transform: translateX(10px)

      #{$this}__icon
        &_left
          opacity: 1
          transition-delay: 0.15s

          #{$this}__svg
            transform: translateX(0)
            transition-delay: 0.15s

        &_right
          opacity: 0

          #{$this}__svg
            transform: translateX(200%)

  &:before
    +pseudo
    background-color: $red
    height: 100%
    transform: scaleX(0)
    transform-origin: center left
    width: 100%
    z-index: 0
    +transition

  &__in
    display: block
    overflow: hidden
    padding: 14px 15px

  &__svg
    display: inline-block
    transition: transform $easing 0.15s

  &__text
    display: block
    position: relative
    transform: translateX(-10px)
    white-space: nowrap
    +transition

  &__counter
    background-color: $red
    border: 1px solid $red
    border-radius: 50%
    color: #fff
    font-size: 16px
    height: 25px
    letter-spacing: -0.16px
    line-height: 25px
    overflow: hidden
    position: absolute
    right: -12.5px
    top: -12.5px
    text-align: center
    text-overflow: ellipsis
    transition: background-color $easing 0.3s, color $easing 0.3s
    width: 25px
    white-space: nowrap

  &__icon
    position: relative
    top: 0px
    font-size: 8px
    transition: transform $easing 0.15s, opacity linear 0.15s

    &_right
      left: 3px

      svg
        fill: $red

      #{$this}__svg
        transform: translateX(0)

    &_left
      left: -3px
      opacity: 0

      svg
        fill: currentColor

      #{$this}__svg
        transform: translateX(-200%)

  &_light
    border-color: #fff
    color: #fff

    +hover
      color: $red

      #{$this}__counter
        border-color: $red

    &:before
      background-color: #fff

    #{$this}__icon
      &_left
        svg
          fill: $red

      &_right
        svg
          fill: #fff

    #{$this}__counter
      border-color: #fff

  &_dark
    border-color: #fff
    color: #fff

    +hover
      color: $burgundy

      #{$this}__counter
        border-color: $burgundy
        color: $burgundy

    &:before
      background-color: #fff

    #{$this}__icon
      &_left
        svg
          fill: $burgundy

      &_right
        svg
          fill: #fff

    #{$this}__counter
      background-color: $burgundy
      border-color: #fff

  &_custom
    border-color: #fff
    color: #fff

    +hover
      border-color: $red

    &:before
      background-color: $red

    #{$this}__icon
      &_right
        svg
          fill: #fff

  &_responsive
    +md
      align-items: center
      display: flex
      height: 40px
      justify-content: center
      min-width: auto
      width: 40px

      +hover
        #{$this}__text
          transform: translateX(0%)

      #{$this}__in
        padding: 0

      #{$this}__title
        display: none

      #{$this}__icon
        top: 1px

        &_right
          left: -2px

        &_left
          left: 2px

      #{$this}__text
        left: 25%
        transform: translateX(-50%)

  &_vertical
    &:before
      transform: scaleX(1) scaleY(0)
      transform-origin: 0 0

    #{$this}__text
      transform: none
      font-size: 12px

    #{$this}__icon-wrap
      position: relative
      top: -2px
      display: inline-block
      vertical-align: top
      width: 4px

    #{$this}__icon
      position: absolute
      left: 0
      top: -1px
      font-size: 17px
      transition: opacity 0.25s  linear

      &_top
        opacity: 0

        #{$this}__svg
            transform: translateY(-200%)

            svg
              fill: #fff

      &_bottom

        #{$this}__svg
          transform: translateY(0%)
          transition: transform 0.3s  $easing

          svg
            fill: $red

    +hover
      &:before
        transform: scaleX(1) scaleY(1)

      #{$this}__text
        transform: none

      #{$this}__icon
        &_top
          opacity: 1

          #{$this}__svg
            transform: translateY(0%)
            transition-delay: 0.2s

        &_bottom
          opacity: 0

          #{$this}__svg
            transform: translateY(200%)
  &_back
    &:before
       transform-origin: center right

    #{$this}__text
      transform: translateX(10px)

    #{$this}__icon
      &_left
        opacity: 1
        transition: transform $easing 0.25s, opacity linear 0.25s

        #{$this}__svg
          transform: translateX(0)

          svg
            fill: $red

      &_right
        opacity: 0

        #{$this}__svg
          transform: translateX(200%)

          svg
            fill: #fff

    +hover
      &:before
        transform: scaleX(1)

      #{$this}__text
        transform: translateX(0)

      #{$this}__icon
        &_left
          opacity: 0
          transition-delay: 0

          #{$this}__svg
            transform: translateX(-350%)
            transition-delay: 0

        &_right
          opacity: 1
          transition-delay: 0.15s

          #{$this}__svg
            transition-delay: 0.15s
            transform: translateX(0%)

.btn-simple
  $simple: &
  display: inline-block
  position: relative
  font-size: 0
  &__inner
    position: relative
    display: inline-flex
    align-items: center
    font-size: 18px
    line-height: 1
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $red
    padding-bottom: 4px
    +reg-mono
    +sm
      padding-bottom: 3px
      font-size: 12px
    &:after
      content: ''
      display: block
      position: absolute
      left: 0
      right: 0
      bottom: 0
      background: $red
      height: 1px
      transform-origin: 50% 50%
      transition: transform $ease
      transform: scaleX(0)
      will-change: transform
      +is-touch
        display: none
  &__svg
    margin-right: 10px
    position: relative
    top: -1px
    +sm
      margin-right: 8px
      top: 0
    svg
      width: 20px
      height: 10px
      fill: $red
      +sm
        font-size: 16px
        height: 8px
  &__counter
    position: absolute
    display: block
    right: 2px
    top: 50%
    transform: translateY(-55%)
    text-align: center
    width: 30px
    height: 30px
    background: $red
    border-radius: 50%
    font-size: 18px
    line-height: 30px
    color: $white
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding: 0 2px
    +sm
      width: 20px
      height: 20px
      font-size: 12px
      line-height: 20px
      right: 0
  +hover
    #{$simple}__inner
      &::after
        transform: scaleX(1)
  // +is-touch
  //   #{$simple}__inner
  //     &::after
  //       transform: scaleX(1)
  &_white, .headline_light &, .teaser-box_light &
    #{$simple}__inner
      color: $white
      &:after
        background: $white
    svg
      fill: $white
  &_counter
    padding-right: 50px
    +sm
      padding-right: 25px
    &.btn-simple_white
      #{$simple}__counter
        background: $white
        color: $red
  &_vertical
    #{$simple}__svg
      font-size: 0
      display: block
      position: relative
      left: -3px
      top: 0px
      margin-right: 0px
      transform-origin: 50% 50%
      transform: rotate(90deg)
      svg
        width: 18px
    #{$simple}__text
      margin-left: 2px
      +sm
        margin-left: 0


.reset-btn
  $reset: &
  position: relative
  display: inline-flex
  align-items: center
  font-size: 0
  line-height: 1

  &__svg
    margin-right: 10px
    position: relative
    top: -1px
    +sm
      margin-right: 8px
      top: 0
    svg

      width: 25px
      height: 25px
      fill: $red
  &__text
    display: inline-block
    position: relative
    top: -2px
    font-size: 12px
    line-height: 1
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $red
    +reg-mono
    &:after
      content: ''
      display: block
      position: absolute
      left: 0
      right: 0
      bottom: 0
      background: $red
      height: 1px
      transform-origin: 50% 50%
      transition: transform $ease
      transform: scaleX(1)
      will-change: transform
  +hover
    #{$reset}__text
      &::after
        transform: scaleX(0)
  +is-touch
    #{$reset}__text
      &::after
        transform: scaleX(1)


.download-vert
  $download: &
  position: relative
  align-items: center
  color: $red
  position: relative
  width: 28px
  display: block
  &__text
    display: block
    font-size: 18px
    left: -14%
    line-height: 1
    position: relative
    bottom: 24px
    color: $red
    transform: translate3d(0, 15px, 0) rotate(-90deg)
    transition: transform $easing 0.3s, opacity $easing 0.3s, color $easing
    white-space: nowrap
    opacity: 0
    +reg-mono
    pointer-events: none
    +lg
      left: -15%
      font-size: 16px
    +md
      left: -14%
      font-size: 18px
      pointer-events: all
  &__icon
    display: block
  svg
    font-size: 40px
    margin: auto
    transition: fill $easing 0.3s
    fill: $red
  +hover
    #{$download}__text
      transform: translate3d(0, 0px, 0) rotate(-90deg)
      opacity: 1
      pointer-events: all
  +is-touch
    #{$download}__text
      transform: translate3d(0, 0px, 0) rotate(-90deg)
      opacity: 1
      pointer-events: all
  +invert
    svg
      fill: $white
      transition: fill $easing
    #{$download}__text
      color: $white

.pseudo-btn
  position: relative
  display: inline-block
  vertical-align: top
  +reg-mono
  font-size: 18px
  line-height: 1.75
  text-transform: uppercase
  letter-spacing: 0.1em
  padding-bottom: 2px

  +xl
    padding-bottom: 4px
  +sm
    padding-bottom: 2px
    font-size: 12px
  &_white
    color: $white
    border-bottom: 1px solid $white

  span
    border-bottom: 1px solid currentColor
    padding-bottom: 0.2em
    
