.burger
  $this: &
  background-color: transparent
  color: $red
  height: 20px
  position: relative
  transition: color $easing 0.3s
  width: 40px
  cursor: pointer
  +sm
    width: 30px
    height: 16px
  +hover
    color: $milanoRed
  span
    display: block
    position: absolute
    top: 50%
    background: orange
    left: 50%
    height: 30px
    width: 30px
    transform: translate(-50%, -50%)
    z-index: 0
  &:before,
  &:after
    +pseudo
    background-color: currentColor
    height: 5px
    display: block
    transition: top $easing 0.3s, transform $easing 0.3s, background-color $ease
    width: 40px
    transform-origin: 0 0
    z-index: 1
    +sm
      height: 4px
      width: 30px

  &:before
    top: 0px
    +sm
      top: 0
  &:after
    bottom: 0
    top: auto
    transform-origin: 0% 100%


  &.is-active
    &:before
      // transform: translate(8px, -5px) rotate(45deg)
      transform: translate(18%, -120%) rotate(45deg)
      +sm
        // transform: translate(6px, -3px) rotate(45deg)
        transform: translate(18%, -120%) rotate(45deg)

    &:after
      // transform: translate(4px, 8px) rotate(-45deg)
      transform: translate(18%, 120%) rotate(-45deg)
      +sm
        // transform: translate(4px, 6px) rotate(-45deg)
        transform: translate(18%, 86%) rotate(-45deg)
  +invert
    &:before, &:after
      background: $white

