.checkbox
  $this: &
  cursor: pointer
  display: flex
  padding-left: 40px
  position: relative
  user-select: none

  +sm
    padding-left: 30px

  &__item
    border: 1px solid transparent
    background-color: $redBerry
    height: 20px
    left: 0
    position: absolute
    top: 4px
    width: 20px

    &:before
      +pseudo
      background-image: url(./../img/check.svg)
      background-repeat: no-repeat
      background-size: 14px 14px
      background-position: center
      height: 100%
      opacity: 0
      transition: opacity $easing 0.3s
      width: 100%

  input
    display: none

    &:checked
      & ~ #{$this}__item
        &:before
          opacity: 1

    &.is-not-valid
      & ~ #{$this}__item
        border-color: $red

  &__textual
    color: $red
    max-width: 422px
