.controls
  $this: &
  background-color: transparent
  color: $red
  font-size: 17px
  overflow: hidden
  position: relative
  transition: color $easing 0.3s

  svg
    display: block
    fill: currentColor
    transition: fill $easing 0.3s, transform $easing 0.3s

  &:not(#{$this}_type-square)
    +hover
      color: $milanoRed

  &_type-square
    border: 1px solid currentColor
    height: 40px
    position: relative
    width: 40px
    display: inline-flex
    align-items: center
    justify-content: center

    +hover
      &:before
        transform: scale(1)

      svg
        fill: #fff

      #{$this}__icon
        &_right
          transform: translate(250%, -50%)

      #{$this}__icon
        &_left
          transform: translate(-50%, -50%)
          transition-delay: 0.1s

    &:before
      +pseudo
      background-color: currentColor
      height: 100%
      transform: scale(0)
      width: 100%
      +transition
    
    svg
      margin: auto
      position: relative
      z-index: 1

  &_type-arrow
    &:before
      transform: scaleX(0)
      transform-origin: top left

    +hover
      &:before
        transform: scaleX(1)

  &__icon
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    +transition

    &_left
      transform: translate(-250%, -50%)
  &_sm
    +md
      width: 36px
      height: 36px
    +sm
      width: 24px
      height: 24px
    svg 
      +sm
        font-size: 10px!important
  &_size-sm
    font-size: 8px

  &_has-rotating
    &:not(.is-rotate)
      +hover
        svg
          transform: rotate(-135deg)
    &.is-rotate
      svg
        transform: rotate(-135deg)

  &_color-light
    border-color: #fff
    transition: border-color $easing 0.3s

    svg
      fill: #fff

    +hover
      border-color: $red

  &.is-rotate
    svg
      transform: rotate(-135deg)