.custom-select-container
  font-size: 18px
  line-height: 1
  +reg-mono
  color: $red
  +xx
    font-size: 16px
  +sm
    font-size: 12px
  &.is-open 
    .custom-select-opener
      &:after
        transform: translate(0, -50%)  rotateX(180deg) 
    .custom-select-panel
      max-height: 234px
      border-left: 1px solid $red
      border-right: 1px solid $red
      border-bottom: 1px solid $red
.custom-select-opener
  position: relative
  background: $white
  border: 1px solid $red
  padding: 11px 38px 11px 10px
  max-width: 280px
  // border-left: 1px solid $red
  // border-top: 1px solid $red
  // border-right: 1px solid $red
  +lg
    max-width: 100%
  +md
    max-width: 330px
  +mobile-landscape
    max-width: 500px
  +sm
    max-width: 100%
  &:after
    content: ''
    position: absolute
    right: 8px
    top: 50%
    transform:  translate(0, -50%) rotateX(0deg)
    display: block
    background-image: url('../img/arrow-down.svg')
    background-size: contain
    background-position: 50% 50%
    transform-origin: 50% 50%
    background-repeat: no-repeat
    width: 16px
    height: 9px
    transition: transform $ease
  span
    display: inline-block
    vertical-align: top
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    width: 100%
    user-select: none

.custom-select-panel
  // max-height: 234px
  // transition: max-height .3s ease-out, overflow-y .1s .3s
  // transition: max-height .3s ease-out
  transition: none
  background: $white
  .Windows &
    &::-webkit-scrollbar-track
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
      background-color: rgba($red, 0.2)
    &::-webkit-scrollbar
      background: rgba($red, 0.1)
    &::-webkit-scrollbar-thumb
      background: rgba($red, 0.5)
  
.custom-select-option
  transition: background $ease
  cursor: pointer
  padding: 10px
  &.has-focus
    background: transparent
  &.is-selected
    &:before
      display: none
  +hover
    background: rgba($l-red, 0.3)





