.footer-contacts
  font-size: 12px
  line-height: 1.5
  letter-spacing: 0.5px
  +reg-mono

  +lg
    font-size: 14px
    line-height: 1.4
    letter-spacing: 0.5px
    display: flex
    justify-content: space-between

  +md
    line-height: 1.4
    letter-spacing: 0.58px

  +sm
    font-size: 18px
    line-height: 1.2
    letter-spacing: 0.5px

  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%

    +md
      flex-direction: column

  &__item
    display: flex
    flex-direction: column
    justify-content: space-between
    width: calc(100% / 12 * 3 + 7px)

    +lg
      flex-direction: row
      flex-wrap: wrap
      width: 100%

    +md
      flex-direction: column

    &:not(:last-of-type)
      margin-right: 30px

      +lg
        margin-bottom: 35px
        margin-right: 0
      
      +md
        margin-bottom: 45px

      +sm
        margin-bottom: 40px

    &:not(:first-of-type)
      +lg
        padding-top: 0

  &__title
    font-size: 14px
    line-height: 1.4
    letter-spacing: 0.4px
    margin-bottom: 10px
    width: 100%
    +bold

    +lg
      font-size: 16px
      line-height: 1.25
      letter-spacing: 0.5px

    +md
      font-size: 16px

    +sm
      font-size: 18px

  &__links
    align-items: flex-start
    display: flex
    flex-direction: column

  &__tel
    white-space: nowrap

  &__address
    margin-bottom: 20px

    +lg
      margin-bottom: 0

    +md
      margin-bottom: 20px

  &__address,
  &__links

    +lg
      width: calc(100% / 11 * 5 - 5px)

    +md
      width: 100%

  &__email
    display: inline-block
    position: relative

    &:before
      +pseudo
      background-color: #fff
      bottom: 1px
      height: 1px
      top: auto
      width: 100%
