.lang
  text-transform: uppercase
  white-space: nowrap
  font-size: 18px
  line-height: 1
  +reg-mono
  +md

  +sm
    font-size: 16px
  &__item
    display: inline-block
    position: relative

    +hover
      &:not(.is-active)
        &:after
          transform: scaleX(1)

    &:after
      +pseudo
      
      bottom: -5px
      height: 1px
      top: auto
      width: 100%
      +transition
      pointer-events: none
      background-color: currentColor
      transform: scaleX(0)
      +md
        bottom: 0
        height: 2px
      +sm
        bottom: -3px
        height: 1px
    &:not(:last-of-type)
      margin-right: 21px
      +lg
        margin-right: 19px
      +md
        margin-right: 21px
      +sm
        margin-right: 13px
    &.is-active
      cursor: default

      &:after
        transform: scaleX(1)
        
