.list
  ul
    li
      position: relative
      padding-left: 17px
      +reg
      font-size: 14px
      // letter-spacing: 0.23px
      line-height: 1.35
      
      +sm
        font-size: 16px
        // letter-spacing: 0.27px
        line-height: 1.37

      &:before
        content: ''
        position: absolute
        left: 0
        top: 9px
        width: 10px
        height: 1px
        background: $red

      &:not(:last-of-type)
        margin-bottom: 6px
        +sm
          margin-bottom: 8px

  &_size
    &-big
      ul
        li
          padding-left: 32px
          font-size: 24px
          line-height: 1.333
          +lg
            padding-left: 28px
            font-size: 20px
            line-height: 1.3
          +sm
            padding-left: 24px
            font-size: 16px
            line-height: 1.5
          // +reg-mono
          // font-size: 20px
          // letter-spacing: 0.25px
          // line-height: 1.25
          // +sm
          //   font-size: 20px
          //   letter-spacing: 0.25px
          //   line-height: 1.25

          &:before
            top: 15px
            height: 2px
            width: 24px
            +lg
              width: 20px
              top: 12px
            +sm
              width: 18px
            
          &:not(:last-of-type)
            margin-bottom: 16px
            

  &_color
    &-light
      ul
        li
          color: #fff
          &:before
            background: #fff
    &-red
      ul
        li
          color: $milanoRed
          &:before
            background: $milanoRed
