.logo
  $this: &
  font-size: 80px
  display: flex
  min-width: 80px
  position: relative
  transform-origin: top left
  transition: transform $easing 0.3s, font-size $easing 0.3s

  +lg
    font-size: 53px

  &__text
    left: 10px
    position: relative
    transition: opacity $easing 0.3s

  svg
    display: block
    fill: $red
    transition: fill $ease

  .is-scrolled &
    font-size: 48px
    
    +sm
      font-size: 32px

    #{$this}
      &__text
        opacity: 0
        
  .is-scrolled.is-menu-opened &
    font-size: 80px
    +lg
      font-size: 53px
    #{$this}
      &__text
        opacity: 1
  +invert-header
    svg 
      fill: $white

