.nav
  $this: &
  align-items: flex-start
  display: flex
  justify-content: center
  width: 100%

  +md
    align-items: flex-start
    background-color: $red
    color: #fff
    font-size: 35px
    flex-direction: column
    justify-content: flex-start
    height: 100%
    left: 0
    overflow-x: hidden
    overflow-y: auto
    scroll-behavior: smooth
    padding: 60px 32px 120px
    top: 0
    position: fixed

  +sm
    font-size: 20px
    padding: 140px 24px 120px

  &__item
    position: relative
    white-space: nowrap

    +md
      font-size: 35px
      letter-spacing: 0.37px
      line-height: 1.23em

    +sm
      font-size: 20px
      line-height: 2.4em

    +hover
      &:before
        transform: scaleX(0)

    &.is-active-link
      &:before
        transform: scaleX(0) 

      #{$this}__title
        &:before
          transform: scaleX(0) 

    &:not(#{$this}__item_dropdown),
    #{$this}__title
      &:before
        +pseudo
        background-color: $red
        bottom: 1px
        height: 1px
        top: auto
        width: 100%
        transition: transform $easing 0.3s, opacity $easing 0.3s

        +md
          background-color: #fff
          height: 2px

        +sm
          bottom: 11px

    &:last-of-type
      &:before
        content: none

    &:not(:last-of-type)
      margin-right: 84px
      +css-lock(50, 84, 960, 1260, 'margin-right')

      +md
        margin-bottom: 41px
        margin-right: 0

      +sm
        margin-bottom: 0

    &_dropdown
      white-space: normal
      #{$this}__icon
        svg
          transform: rotate(180deg)

      &.is-active
        color: #fff
        
        #{$this}__title
          &:before
            opacity: 0

        & > #{$this}__dropdown
          display: block
          +md
            display: none

        #{$this}__icon
          svg
            transform: rotate(0deg)
      // &.is-css-hover
      +mdmin
        &:hover
        
          color: #fff
          text-decoration: none

          &:before
            display: none

          & > #{$this}__dropdown
          
            display: block
            animation: showDropdown ease-in 0.3s
            animation-fill-mode: forwards

          // +md
          //   animation: none

  &__dropdown
    display: none
    left: -28px
    position: absolute
    top: -25px
    min-width: 178px

    +md
      // display: block
      // height: auto
      left: 0
      overflow: hidden
      position: relative
      top: 34px
      // transition: height $easing 0.3s
      padding-bottom: 34px
      animation: none
      // tra

    +sm
      top: 14px
      padding-bottom: 14px

  &__title
    display: inline-block
    position: relative
    z-index: 1

  &__icon
    display: none
    font-size: 16px
    
    svg
      fill: currentColor
      position: relative
      +transition

    +md
      position: relative
      top: -2px
      display: inline-block
      font-size: 15px
      
    +sm
      top: -1px
      font-size: 8px

  &__lang
    +md
      padding-top: 20px

    +sm
      padding-top: 18px

  .dropdown
    &__item
      &.is-active-link
        a
          border-color: transparent

@keyframes showDropdown
  0%
    display: block
    opacity: 0
    visibility: hidden
  100%
    display: block
    opacity: 1
    visibility: visible