.scroll-to
  $this: &
  align-items: center
  color: $red
  display: inline-flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden
  padding: 10px 0
  position: relative
  
  +hover
    #{$this}__line
      transform: scaleX(0)

    #{$this}__text
       color: $burgundy

    svg
      fill:  $burgundy


  &__text
    transition: color $easing 0.3s


  svg
    display: block
    fill: $red
    font-size: 29px
    margin: auto
    transition: fill $easing 0.3s

  &__line
    position: absolute
    left: 0
    top: 0
    background-color: currentColor
    height: 1px
    +gpu
    transform: scaleX(1)
    width: 100%
    +transition

  &_top
    padding-top: 8px
    padding-bottom: 40px
    height: 105px
    #{$this}__text
      margin-top: 10px
      +reg-mono
      font-size: 18px
      line-height: 1
      color: $red
    #{$this}__line
      width: 20px
      height: 4px
      border-radius: 1px
      left: 50%
      margin-left: -10px



  &_down
    width: 18px
    #{$this}__text
      display: block
      font-size: 10px
      left: -46%
      position: absolute
      letter-spacing: 1.67px
      line-height: 1em
      position: relative
      text-transform: uppercase
      color: $red
      transform: rotate(-90deg)
      white-space: nowrap

      &:before
        content: ''
        display: block
        padding-bottom: 100%
    svg
      font-size: 11px
      margin: auto
      transform: rotate(-180deg)