.submit
  background-color: transparent
  border: 1px solid #fff
  color: #fff
  font-size: 6px
  padding: 17px 14px

  +hover

    svg
      transform: translateX(5px)

  svg
    fill: #fff
    +transition
