.title
  $this: &
  +bold
  letter-spacing: -0.15px
  // letter-spacing: -0.015em
  line-height: 1
  // text-transform: uppercase
  &_counter
    font-size: 120px
    line-height: 1
    letter-spacing: -0.015em
    +xl
      font-size: 80px
    +md
      font-size: 60px

  &_counter-sm
    font-size: 90px
    line-height: 1
    letter-spacing: -0.015em
    +xl
      font-size: 60px
    +md
      font-size: 50px

  &_line
    position: relative

    &:before
      content: ''
      position: absolute
      left: -20px
      top: 50%
      transform: translate(-100%, -50%)
      width: 140px
      height: 12px
      background: currentColor
      +lg
        width: 100px
        left: -15px
      +sm
        left: -10px
        width: 60px
        height: 4px

  &_line-offscreen
    &:before
      height: 8px
      +lg
        height: 6px
      +md
        left: auto
        right: 13px
        width: 100%

      +sm
        right: 10px
        width: 100%
        height: 4px

  &_line-mb-big
    margin-bottom: 60px

    +sm
      margin-bottom: 30px

  &_xl
    font-size: 96px
    letter-spacing: -0.015em
    text-transform: uppercase

    +lg
      font-size: 72px
    +sm
      font-size: 38px
  &_l
    font-size: 60px
    letter-spacing: -0.015em
    text-transform: uppercase
    +lg
      font-size: 46px
    +sm
      font-size: 24px
  &_md
    font-size: 48px
    // letter-spacing: normal

    +lg
      font-size: 36px
    +sm
      font-size: 20px
  &_m
    font-size: 38px
    letter-spacing: normal
    +lg
      font-size: 30px
    +sm
      font-size: 20px
  &_sm
    font-size: 36px
    letter-spacing: normal
    +lg
      font-size: 28px
    +sm
      font-size: 20px
  &_s
    font-size: 32px
    line-height: 1.125
    letter-spacing: normal
    +lg
      font-size: 24px
      line-height: 1.333
    +sm
      font-size: 18px
  &_xs
    font-size: 24px
    line-height: 1.333
    letter-spacing: normal
    +lg
      font-size: 20px
      line-height: 1.3
  &_x
    font-size: 18px
    line-height: 1.111
    letter-spacing: normal
    +sm
      font-size: 14px
      line-height: 1.214
  &_mono
    +reg-mono
  &_normal
    +reg
  &_uppercase
    text-transform: uppercase
  &_letter-space-sm
    letter-spacing: -0.015em





  //// old
  &_h1
    font-size: 48px
    +sm
      font-size: 38px
      line-height: 1
      letter-spacing: normal

  &_h2
    font-size: 42px
    letter-spacing: -0.14px
    line-height: 1

    +sm
      font-size: 38px
      letter-spacing: -0.11px

  &_h3
    font-size: 42px

    +sm
      font-size: 38px


  &_h4
    font-size: 35px
    letter-spacing: -0.13px
    text-transform: none

  &_h5
    font-size: 35px
    text-transform: none

  &_footer
    font-size: 20px
    letter-spacing: 0.21px
    line-height: 1.2
    text-transform: none

  &_main
    font-size: 12px
    letter-spacing: 0.2px
    line-height: 1.4
    text-transform: none
    +reg

    +sm
      font-size: 14px
      line-height: 1.2
      letter-spacing: 0.23px

  &_light
    color: #fff

  &_icon
    position: relative

    #{$this}__icon
      font-size: 16px
      left: -10px
      position: absolute
      top: 0
      transform: translate(-100%, 50%)
      transition: left 0.3s $easing
      will-change: left

      svg
        fill: currentColor
