div#_flinkit-widget
  background: none!important
  display: flex!important
  align-items: center
  width: auto!important
  flex-direction: row-reverse
  right: 40px!important
  padding: 0!important
  bottom: 45px!important
  padding-right: 32px!important
  filter: none!important
  height: 32px
  +lg
    right: 38px!important
    bottom: 35px!important
  +md
    bottom: 40px!important

  &:before, &:after
    content: ''
    position: absolute
    right: 0
    top: 50%
    transform: translate(0, -50%)
    width: 32px
    height: 32px
    transition: opacity $ease
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: contain
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='enable-background:new 0 0 32 32' xml:space='preserve'%3E%3Cpath style='fill:red' d='M23.068 19.21c.085.143.085.856-.199 1.669-.298.828-1.716 1.599-2.353 1.669-.638.072-1.234.299-4.183-.87-3.544-1.412-5.785-5.065-5.954-5.293-.17-.228-1.418-1.897-1.418-3.623 0-1.727.893-2.568 1.219-2.925.326-.356.708-.442.935-.442.241 0 .467 0 .68.015.241 0 .525.014.779.599.312.699.979 2.425 1.064 2.582.085.171.142.385.028.613-.128.228-.185.385-.354.585-.17.2-.369.457-.525.613-.185.171-.354.356-.156.713.213.343.907 1.498 1.942 2.425 1.334 1.198 2.453 1.57 2.808 1.74.34.171.553.143.751-.086.213-.228.879-1.013 1.106-1.369.227-.343.454-.286.779-.171.327.115 2.027.97 2.382 1.142.343.185.584.271.669.414zM30 16c0 7.732-6.268 14-14 14-2.461 0-4.771-.64-6.781-1.755L2 30.151l1.934-7.075A13.919 13.919 0 0 1 2 16C2 8.268 8.268 2 16 2s14 6.268 14 14zm-2 0c0-6.617-5.383-12-12-12S4 9.383 4 16c0 2.12.573 4.216 1.659 6.062l.427.727-.222.814-1.019 3.728 3.864-1.02.778-.205.703.39A11.996 11.996 0 0 0 16 28c6.617 0 12-5.383 12-12z'/%3E%3C/svg%3E")
  &:after
    opacity: 0
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='enable-background:new 0 0 32 32' xml:space='preserve'%3E%3Cpath style='fill:%23fff' d='M23.068 19.21c.085.143.085.856-.199 1.669-.298.828-1.716 1.599-2.353 1.669-.638.072-1.234.299-4.183-.87-3.544-1.412-5.785-5.065-5.954-5.293-.17-.228-1.418-1.897-1.418-3.623 0-1.727.893-2.568 1.219-2.925.326-.356.708-.442.935-.442.241 0 .467 0 .68.015.241 0 .525.014.779.599.312.699.979 2.425 1.064 2.582.085.171.142.385.028.613-.128.228-.185.385-.354.585-.17.2-.369.457-.525.613-.185.171-.354.356-.156.713.213.343.907 1.498 1.942 2.425 1.334 1.198 2.453 1.57 2.808 1.74.34.171.553.143.751-.086.213-.228.879-1.013 1.106-1.369.227-.343.454-.286.779-.171.327.115 2.027.97 2.382 1.142.343.185.584.271.669.414zM30 16c0 7.732-6.268 14-14 14-2.461 0-4.771-.64-6.781-1.755L2 30.151l1.934-7.075A13.919 13.919 0 0 1 2 16C2 8.268 8.268 2 16 2s14 6.268 14 14zm-2 0c0-6.617-5.383-12-12-12S4 9.383 4 16c0 2.12.573 4.216 1.659 6.062l.427.727-.222.814-1.019 3.728 3.864-1.02.778-.205.703.39A11.996 11.996 0 0 0 16 28c6.617 0 12-5.383 12-12z'/%3E%3C/svg%3E")
  img
    display: none!important
  span
    position: absolute
    display: flex
    align-items: center
    height: 32px
    top: 50%
    right: 32px
    white-space: nowrap

    font-size: 18px!important
    color: $red!important
    transition: color $ease
    font-family: 'ReplicaMonoStd', 'sans-serif'!important
    font-weight: 400!important
    +reg

    transition: transform $easing 0.3s, opacity $easing 0.3s
    pointer-events: none
    transform: translate3d(15px, -50%, 0)
    padding-right: 20px!important
    opacity: 0

    +lg
      font-size: 16px!important

    +md
      display: none!important

  .is-menu-opened &
    z-index: 10!important

  +invert
    &:before
      opacity: 0
    &:after
      opacity: 1
    span
      color: $white!important
  +hover
    span
      transform: translate3d(0, -50%, 0)
      opacity: 1
      pointer-events: all
  +is-touch
    span
      transform: translate3d(0, -50%, 0)
      opacity: 1
      pointer-events: all

// flinkit v2
div#whatsappWidget
  h3
    margin-bottom: 32px !important
    font-weight: 400 !important
    font-size: 16px !important

  & > div:first-child
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    bottom: auto
    border-radius: 0

    .whatsapp-widget__popup
      padding: 40px 30px 80px
      height: auto
      & > div > a
        display: none

  .whatsapp-widget__button
    background: none
    align-items: center
    width: auto
    flex-direction: row-reverse
    right: 40px
    padding: 0
    bottom: 45px
    padding-right: 32px
    filter: none
    height: 32px
    +lg
      right: 38px
      bottom: 35px
    +md
      bottom: 40px

    h4
      position: absolute
      display: flex
      align-items: center
      height: 32px
      top: 50%
      right: 32px
      white-space: nowrap
      font-size: 18px
      color: $red
      transition: color $ease
      font-family: 'ReplicaMonoStd', 'sans-serif'
      font-weight: 400
      transition: transform $easing 0.3s, opacity $easing 0.3s
      pointer-events: none
      transform: translate3d(15px, -50%, 0)
      padding-right: 20px
      opacity: 0

      +lg
        font-size: 16px

      +md
        display: none

    img
      display: none

    &:before, &:after
      content: ''
      position: absolute
      right: 0
      top: 50%
      transform: translate(0, -50%)
      width: 32px
      height: 32px
      transition: opacity $ease
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: contain
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='enable-background:new 0 0 32 32' xml:space='preserve'%3E%3Cpath style='fill:red' d='M23.068 19.21c.085.143.085.856-.199 1.669-.298.828-1.716 1.599-2.353 1.669-.638.072-1.234.299-4.183-.87-3.544-1.412-5.785-5.065-5.954-5.293-.17-.228-1.418-1.897-1.418-3.623 0-1.727.893-2.568 1.219-2.925.326-.356.708-.442.935-.442.241 0 .467 0 .68.015.241 0 .525.014.779.599.312.699.979 2.425 1.064 2.582.085.171.142.385.028.613-.128.228-.185.385-.354.585-.17.2-.369.457-.525.613-.185.171-.354.356-.156.713.213.343.907 1.498 1.942 2.425 1.334 1.198 2.453 1.57 2.808 1.74.34.171.553.143.751-.086.213-.228.879-1.013 1.106-1.369.227-.343.454-.286.779-.171.327.115 2.027.97 2.382 1.142.343.185.584.271.669.414zM30 16c0 7.732-6.268 14-14 14-2.461 0-4.771-.64-6.781-1.755L2 30.151l1.934-7.075A13.919 13.919 0 0 1 2 16C2 8.268 8.268 2 16 2s14 6.268 14 14zm-2 0c0-6.617-5.383-12-12-12S4 9.383 4 16c0 2.12.573 4.216 1.659 6.062l.427.727-.222.814-1.019 3.728 3.864-1.02.778-.205.703.39A11.996 11.996 0 0 0 16 28c6.617 0 12-5.383 12-12z'/%3E%3C/svg%3E")
    &:after
      opacity: 0
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='enable-background:new 0 0 32 32' xml:space='preserve'%3E%3Cpath style='fill:%23fff' d='M23.068 19.21c.085.143.085.856-.199 1.669-.298.828-1.716 1.599-2.353 1.669-.638.072-1.234.299-4.183-.87-3.544-1.412-5.785-5.065-5.954-5.293-.17-.228-1.418-1.897-1.418-3.623 0-1.727.893-2.568 1.219-2.925.326-.356.708-.442.935-.442.241 0 .467 0 .68.015.241 0 .525.014.779.599.312.699.979 2.425 1.064 2.582.085.171.142.385.028.613-.128.228-.185.385-.354.585-.17.2-.369.457-.525.613-.185.171-.354.356-.156.713.213.343.907 1.498 1.942 2.425 1.334 1.198 2.453 1.57 2.808 1.74.34.171.553.143.751-.086.213-.228.879-1.013 1.106-1.369.227-.343.454-.286.779-.171.327.115 2.027.97 2.382 1.142.343.185.584.271.669.414zM30 16c0 7.732-6.268 14-14 14-2.461 0-4.771-.64-6.781-1.755L2 30.151l1.934-7.075A13.919 13.919 0 0 1 2 16C2 8.268 8.268 2 16 2s14 6.268 14 14zm-2 0c0-6.617-5.383-12-12-12S4 9.383 4 16c0 2.12.573 4.216 1.659 6.062l.427.727-.222.814-1.019 3.728 3.864-1.02.778-.205.703.39A11.996 11.996 0 0 0 16 28c6.617 0 12-5.383 12-12z'/%3E%3C/svg%3E")

    &:hover > h4
      transform: translate3d(0, -50%, 0)
      opacity: 1
      pointer-events: all

    &.is-inverted
      &:before
        opacity: 0
      &:after
        opacity: 1
      & > h4
        color: $white!important
